.app-screen-one__carousel .tns-nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}
.tns-nav button{
    width: 8px;
    height: 8px;
    background: #eee;
    z-index: 1;
    border-radius: 50px;
    border: none;
    margin: 0 3px;
}
.tns-nav button:focus{
    outline: none;
}
.tns-nav button.tns-nav-active{
    background: #f8b426;
    opacity: 1;
}
.test-slider-quotes .tns-nav button{
    width: 15px;
    height: 15px;
    background-color: #7c7c7c;
    border-radius: 50%;
    border: none;
    margin: 5px;
}


.test-slider-quotes .tns-nav button.tns-nav-active{
    background-color:#e16123;
}

.brand-main {
    position: relative;
}
.brand-main .tns-controls{
    position: absolute;
    top: -140px;
    right: 0;

}
.brand-main .tns-controls button{
    border: none;
    background-color: transparent;
    color:#eee ;
    width: 50px;
    height: 50px;
    font-size: 35px;
}
/* .tns-horizontal.tns-subpixel > .tns-item{
    text-align: center;
} */
#progress-bar .progress .progress-bar{
	display: none;
}
.ui-switch-label{
    font-size: 18px;
    padding:8px 0 0 8px;
    vertical-align: middle;
    color: #7c7c7c;
    letter-spacing: .2em;
  }

#faq .accordion .card{
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -7px #000;
}
#faq .accordion .card .card-header{
    background-color:#fff;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}
#faq .accordion .card .card-header button{
    white-space: normal;
    text-align: left;
    font-size: 18px;
}
#faq .accordion .card .card-body{
    background-color:#fff;
    padding: 20px 20px;
}
.contact-form .grecaptcha-badge{
    bottom: 80px !important;
    z-index: 11111;
}
@media (max-width:767px){
    .brand-main .tns-controls{
        top: -100px;
    }
}


.scrollActive{
    display: block;
    animation-name: fadeInAnimtion;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimtion{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

