<!-- main container of all the page elements -->
	<div id="wrapper" class="page-wrapper-website" >
		<!-- class="wow rollIn" data-wow-duration="2s" data-wow-delay="5s" -->
		<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.5)"
  type="null" template="<img src='../../../assets/img/ball-triangle.svg' />">
</ngx-spinner> -->

		<!-- <div class="loader-container" id="pre-loader"><div class="loader"><img src="../../../assets/img/ball-triangle.svg" alt="loader"></div></div> -->
		<!-- header of the page -->
	<app-header (scroll_name)="scroll($event)" [getId]="getId" (headerIds)="getheaderId($event)"></app-header>
		<!-- header of the page end -->

			<section class="banner-one" id="home">
				<div class="container">
					<div class="banner-one__moc-wrap">
						<img src="../../../assets/img/banner-1-1.png" class="banner-one__moc" alt="Awesome Image" />
					</div><!-- /.banner-one__moc-wrap -->
					<div class="row justify-content-end">
						<div class="col-lg-5 col-md-6">
							<div class="banner-one__content">
								<h3 class="banner-one__title">Awesome app <br> Showcase for <br> Businesses</h3>
								<!-- /.banner-one__title -->
								<p class="banner-one__text">Egestas magna ipsum vitae purus effic ipsum cubilia and laoreet
									pretium ligula rutrum luctus.</p><!-- /.banner-one__text -->
								<a href="#" class="banner-one__btn thm-btn">Discover more</a>
							</div><!-- /.banner-one__content -->
						</div><!-- /.col-lg-5 -->
					</div><!-- /.row justify-content-end -->
				</div><!-- /.container -->
			</section><!-- /.banner-one -->
			<section class="brand-one">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="brand-one__carousel client-slider">
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
								<div class="item">
									<img src="../../../assets/img/brand-1-1.png" alt="Awesome Image" />
								</div><!-- /.item -->
							</div><!-- /.brand-one__carousel owl-theme owl-carousel -->
						</div>
					</div>
				</div><!-- /.container -->
			</section><!-- /.brand-one -->
			<section class="service-one" id="services">
				<div class="container">
					<div class="block-title text-center">
						<h2 class="block-title__title">Advance App <br> Features</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<div class="row">
						<div class="col-lg-4">
							<div class="service-one__single">
								<div class="service-one__icon">
									<i class="fa fa-bullseye"></i>
								</div><!-- /.service-one__icon -->
								<h3 class="service-one__title"><a href="#">High Creative<br>App Display</a></h3>
								<!-- /.service-one__title -->
								<p class="service-one__text">There are many variations of <br /> passages of lorem ipsum is
									<br /> simply free text but majority <br> have suffered.</p><!-- /.service-one__text -->
							</div><!-- /.service-one__single -->
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="service-one__single">
								<div class="service-one__icon">
									<i class="fa fa-user"></i>
								</div><!-- /.service-one__icon -->
								<h3 class="service-one__title"><a href="#">Unique and <br> custom options</a></h3>
								<!-- /.service-one__title -->
								<p class="service-one__text">There are many variations of <br /> passages of lorem ipsum is
									<br /> simply free text but majority <br> have suffered.</p><!-- /.service-one__text -->
							</div><!-- /.service-one__single -->
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="service-one__single">
								<div class="service-one__icon">
									<i class="fa fa-paper-plane"></i>
								</div><!-- /.service-one__icon -->
								<h3 class="service-one__title"><a href="#">secure <br> integration</a></h3>
								<!-- /.service-one__title -->
								<p class="service-one__text">There are many variations of <br /> passages of lorem ipsum is
									<br /> simply free text but majority <br> have suffered.</p><!-- /.service-one__text -->
							</div><!-- /.service-one__single -->
						</div><!-- /.col-lg-4 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /.service-one -->

			<div class="video-one">
				<div class="container">
					<div class="block-title text-center">
						<h2 class="block-title__title">app integration <br> tutorials</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<div class="video-one__content">
						<img src="../../../assets/img/video-1-1.jpg" alt="Awesome Image" />
						<a href="https://www.youtube.com/watch?v=n-D1EB74Ckg" class="video-one__link video-popup"><i
								class="fa fa-play"></i></a>
					</div><!-- /.video-one__content -->
				</div><!-- /.container -->
			</div><!-- /.video-one -->
			
			<section class="cta-one">
				<div class="container">
					<img src="../../../assets/img/cta-moc-1-1.png" class="cta-one__moc" alt="Awesome Image" />
					<div class="row">
						<div class="col-lg-6">
							<div class="cta-one__content">
								<div class="block-title text-left">
									<h2 class="block-title__title">Take a control on <br> your mobile app</h2>
									<!-- /.block-title__title -->
								</div><!-- /.block-title -->
								<p class="cta-one__text">Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur.</p><!-- /.cta-one__text -->
								<ul class="cta-one__list">
									<li class="cta-one__list-item"><i class="fa fa-check"></i>Refresing to get such a
										personal touch. </li><!-- /.cta-one__list-item -->
									<li class="cta-one__list-item"><i class="fa fa-check"></i>Duis aute irure dolor in
										reprehenderit in voluptate.</li><!-- /.cta-one__list-item -->
									<li class="cta-one__list-item"><i class="fa fa-check"></i>Velit esse cillum dolore eu
										fugiat nulla pariatur.</li><!-- /.cta-one__list-item -->
								</ul><!-- /.cta-one__list -->
								<a href="#" class="cta-one__btn thm-btn">Discover more</a>
							</div><!-- /.cta-one__content -->
						</div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /.cta-one -->
			<section class="app-screen-one" id="screens">
				<div class="container-fluid">
					<div class="block-title text-center">
						<h2 class="block-title__title">appyng <br> screenshot</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<div class="app-screen-one__carousel">
						<div class="app_screens">
							<div class="item">
								<img src="../../../assets/img/app-screen-1-1.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-2.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-3.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-4.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-5.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-1.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-2.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-3.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-4.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-5.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-1.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-2.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-3.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-4.png" alt="Awesome Image" />
							</div><!-- /.item -->
							<div class="item">
								<img src="../../../assets/img/app-screen-1-5.png" alt="Awesome Image" />
							</div><!-- /.item -->
						</div>
						<div class="app_screens_dots"></div>
					</div><!-- /.app-screen-one__carousel -->
				</div><!-- /.container -->
			</section><!-- /.app-screen-one -->

			<section class="pricing-one" id="pricing">
				<div class="container">
					<div class="block-title text-center">
						<h2 class="block-title__title">Choose plans <br> & pricing</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<div class="row" *ngIf="showPlans.length > 0">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center mb-3">
							<ui-switch size="small" [(ngModel)]="priceSwitch" (change)="selectedInterval($event)"></ui-switch><span class="ui-switch-label"> {{(priceSwitch == true)? 'Yearly' : 'Monthly'}}</span>
						</div>
					</div>
					<div class="row" *ngIf="showPlans.length > 0">
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let plan of showPlans">
							<div class="pricing-one__single" [ngClass]="{'popular': plan.isFeatured == true}">
								<div class="inner">
									<div class="pricing-one__top">
										<p class="pricing-one__name">{{plan.planName}}</p><!-- /.pricing-one__name -->
										<h3 class="pricing-one__amount">{{plan.currency}} {{plan.price}}</h3><!-- /.pricing-one__amount -->
									</div><!-- /.pricing-one__top -->
									<ul class="pricing-one__list">
										<li class="pricing-one__list-item"  *ngFor="let features of plan.planDescription">{{features}}</li>
									</ul><!-- /.pricing-one__list -->
									<a href="javascript:void(0)" class="pricing-one__btn thm-btn" (click)="goToSignUp(plan.planName, plan.id)">Get started</a>
								</div><!-- /.inner -->
							</div><!-- /.pricing-one__single -->
						</div><!-- /.col-lg-4 -->
					</div><!-- /.row -->
					<div class="row" *ngIf="showPlans.length == 0">
						<div class="col-xs-12 mx-auto text-center">
							<!-- <div class="fa-3x">
								<i class="fa fa-spinner fa-pulse"></i>
							</div> -->
							<h6>
								Coming Soon
							</h6>
						</div>
					</div>
				</div><!-- /.container -->
			</section><!-- /.pricing-one -->
			<section class="testimonials-one">
				<img src="../../../assets/img/shapes/testi-shape-1-1.png" class="testimonials-one__background-image"
					alt="Awesome Image" />
				<div class="container">
					<div class="row ">
						<div class="col-lg-6">
							<div class="testimonials-one__thumb-carousel">
								<div class="swiper-wrapper">
									<div class="app_carousel">
										<div class="swiper-slide">
											<img src="../../../assets/img/testi-1-1.png" alt="Awesome Image" />
										</div><!-- /.swiper-slide -->
										<div class="swiper-slide">
											<img src="../../../assets/img/testi-1-2.png" alt="Awesome Image" />
										</div><!-- /.swiper-slide -->
										<div class="swiper-slide">
											<img src="../../../assets/img/testi-1-3.png" alt="Awesome Image" />
										</div><!-- /.swiper-slide -->
									</div>
								</div><!-- /.swiper-wrapper -->
							</div><!-- /.testimonials-one__thumb-carousel -->
						</div><!-- /.col-lg-6 -->
						<div class="col-lg-6 d-flex">
							<div class="my-auto">
								<div class="block-title text-left">
									<h2 class="block-title__title">What users are <br> talking about</h2>
									<!-- /.block-title__title -->
								</div><!-- /.block-title -->
								<div class="testimonials-one__carousel  text-left">
									<div class="swiper-wrapper testimonial_carousel">
										<div class="swiper-slide">
											<div class="testimonials-one__single">
												<p class="testimonials-one__text">This is due to their excellent service,
													competitive pricing and customer support. It’s throughly refresing to
													get such a personal touch. Duis aute irure dolor in repre henderit in
													voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
												<!-- /.testimonials-one__text -->
												<h3 class="testimonials-one__title">Joe Kolmer</h3>
												<!-- /.testimonials-one__title -->
												<span class="testimonials-one__designation">App User, United States</span>
											</div><!-- /.testimonials-one__single -->
										</div><!-- /.swiper-slide -->
										<div class="swiper-slide">
											<div class="testimonials-one__single">
												<p class="testimonials-one__text">This is due to their excellent service,
													competitive pricing and customer support. It’s throughly refresing to
													get such a personal touch. Duis aute irure dolor in repre henderit in
													voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
												<!-- /.testimonials-one__text -->
												<h3 class="testimonials-one__title">Darrin Martos</h3>
												<!-- /.testimonials-one__title -->
												<span class="testimonials-one__designation">App User, United States</span>
											</div><!-- /.testimonials-one__single -->
										</div><!-- /.swiper-slide -->
										<div class="swiper-slide">
											<div class="testimonials-one__single">
												<p class="testimonials-one__text">This is due to their excellent service,
													competitive pricing and customer support. It’s throughly refresing to
													get such a personal touch. Duis aute irure dolor in repre henderit in
													voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
												<!-- /.testimonials-one__text -->
												<h3 class="testimonials-one__title">Tammy Daniely</h3>
												<!-- /.testimonials-one__title -->
												<span class="testimonials-one__designation">App User, United States</span>
											</div><!-- /.testimonials-one__single -->
										</div><!-- /.swiper-slide -->
									</div><!-- /.swiper-wrapper -->
								</div><!-- /.testimonials-one__carousel -->
							</div><!-- /.my-auto -->
						</div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /.testimonials-one -->
			<section class="funfact-one">
				<div class="container">
					<div class="block-title text-center">
						<h2 class="block-title__title">Over 2200 happy <br> customers</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="funfact-one__single">
								<div class="inner">
									<h3 class="funfact-one__title counter">4789</h3><!-- /.funfact-one__title -->
									<p class="funfact-one__text">projects</p><!-- /.funfact-one__text -->
								</div><!-- /.inner -->
							</div><!-- /.funfact-one__single -->
						</div><!-- /.col-lg-3 -->
						<div class="col-lg-3 col-md-6 d-flex justify-content-center">
							<div class="funfact-one__single">
								<div class="inner">
									<h3 class="funfact-one__title counter">6400</h3><!-- /.funfact-one__title -->
									<p class="funfact-one__text">customers</p><!-- /.funfact-one__text -->
								</div><!-- /.inner -->
							</div><!-- /.funfact-one__single -->
						</div><!-- /.col-lg-3 -->
						<div class="col-lg-3 col-md-6 d-flex justify-content-center">
							<div class="funfact-one__single">
								<div class="inner">
									<h3 class="funfact-one__title counter">960</h3><!-- /.funfact-one__title -->
									<p class="funfact-one__text">success</p><!-- /.funfact-one__text -->
								</div><!-- /.inner -->
							</div><!-- /.funfact-one__single -->
						</div><!-- /.col-lg-3 -->
						<div class="col-lg-3 col-md-6 d-flex justify-content-end">
							<div class="funfact-one__single">
								<div class="inner">
									<h3 class="funfact-one__title counter">448</h3><!-- /.funfact-one__title -->
									<p class="funfact-one__text">awards</p><!-- /.funfact-one__text -->
								</div><!-- /.inner -->
							</div><!-- /.funfact-one__single -->
						</div><!-- /.col-lg-3 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /.funfact-one -->
			<section class="blog-one" id="blog">
				<div class="container">
					<div class="block-title text-center">
						<h2 class="block-title__title">latest news & <br> articles</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<div class="row">
						<div class="col-lg-4">
							<div class="blog-one__single">
								<div class="blog-one__image">
									<img src="../../../assets/img/blog-1-1.jpg" alt="Awesome Image" />
									<a href="#"><i class="fas fa-plus"></i></a>
								</div><!-- /.blog-one__image -->
								<div class="blog-one__content">
									<span class="blog-one__meta">by <a href="#">admin</a> on <a href="#">july 27,
											2019</a></span>
									<h3 class="blog-one__title"><a href="#">Pre and post launch mobile app
											marketing pitfalls to avoid</a></h3><!-- /.blog-one__title -->
									<p class="blog-one__text">There are many variations of passages of available but
										majority have alteration in some by inject humour or random words.</p>
									<!-- /.blog-one__text -->
								</div><!-- /.blog-one__content -->
							</div><!-- /.blog-one__single -->
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="blog-one__single">
								<div class="blog-one__image">
									<img src="../../../assets/img/blog-1-2.jpg" alt="Awesome Image" />
									<a href="#"><i class="fas fa-plus"></i></a>
								</div><!-- /.blog-one__image -->
								<div class="blog-one__content">
									<span class="blog-one__meta">by <a href="#">admin</a> on <a href="#">july 27,
											2019</a></span>
									<h3 class="blog-one__title"><a href="#">Social currency high per-
											formance keywords or</a></h3><!-- /.blog-one__title -->
									<p class="blog-one__text">There are many variations of passages of available but
										majority have alteration in some by inject humour or random words.</p>
									<!-- /.blog-one__text -->
								</div><!-- /.blog-one__content -->
							</div><!-- /.blog-one__single -->
						</div><!-- /.col-lg-4 -->
						<div class="col-lg-4">
							<div class="blog-one__single">
								<div class="blog-one__image">
									<img src="../../../assets/img/blog-1-3.jpg" alt="Awesome Image" />
									<a href="#"><i class="fas fa-plus"></i></a>
								</div><!-- /.blog-one__image -->
								<div class="blog-one__content">
									<span class="blog-one__meta">by <a href="#">admin</a> on <a href="#">july 27,
											2019</a></span>
									<h3 class="blog-one__title"><a href="#">Prioritize these line items
											quarterly sales are at</a></h3><!-- /.blog-one__title -->
									<p class="blog-one__text">There are many variations of passages of available but
										majority have alteration in some by inject humour or random words.</p>
									<!-- /.blog-one__text -->
								</div><!-- /.blog-one__content -->
							</div><!-- /.blog-one__single -->
						</div><!-- /.col-lg-4 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section><!-- /.blog-one -->
			<section class="subscribe-one">
				<div class="container">
					<div class="block-title text-center">
						<h2 class="block-title__title">Subscribe for <br> updates</h2><!-- /.block-title__title -->
					</div><!-- /.block-title -->
					<form action="inc/mailchimp/subscribe.php" class="subscribe-one__form">
						<input type="text" name="email" placeholder="Enter your email">
						<button type="submit" class="subscribe-one__btn"><i class="fa fa-location-arrow"></i></button>
					</form><!-- /.subscribe-one__form -->
				</div><!-- /.container -->
			</section><!-- /.subscribe-one -->


		<!-- main of the page end -->
		<!-- footer of the page -->
		<app-footer></app-footer>
		<!-- footer of the page end -->
		<!-- Back Top of the page -->
		<a class="scroll-to-target scroll-to-top" [ngClass]="{'scrollActive': isShow == true}" (click)="scrollToTop()"><i class="fa fa-angle-up"></i></a>
</div>