<app-header></app-header>
<div class="login-register auth-page">
  <div class="login-box card">
    <div class="card-body">
      <form [formGroup]="signupForm" class="form-horizontal form-material" id="loginform">
        <h3 class="box-title m-b-20 text-center"><b>Sign Up</b></h3>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Name" formControlName="name">
            <p *ngFor="let validation of validation_messages.name">
              <small class="error-message"
                *ngIf="signupForm.get('name').hasError(validation.type) && signupForm.get('name').pending">
                {{ validation.message }}
              </small>
            </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Email" formControlName="email_id">
            <p *ngFor="let validation of validation_messages.email_id">
              <small class="error-message"
                *ngIf="signupForm.get('email_id').hasError(validation.type) && signupForm.get('email_id').pending">
                {{ validation.message }}
              </small>
            </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Password" formControlName="password">
            <p *ngFor="let validation of validation_messages.password">
              <small class="error-message"
                *ngIf="signupForm.get('password').hasError(validation.type) && signupForm.get('password').pending">
                {{ validation.message }}
              </small>
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Confirm Password"
              formControlName="confirm_password">
            <p *ngFor="let validation of validation_messages.confirm_password">
              <small class="error-message"
                *ngIf="signupForm.get('confirm_password').hasError(validation.type) && signupForm.get('confirm_password').pending">
                {{ validation.message }}
              </small>
            </p>
          </div>
        </div>
        <!-- <app-captcha (cap)="getValue($event)" [value]="signupForm.get('captcha').value"></app-captcha> -->
        <!-- <div class="" id="cap1">
          <div class="col-xs-12">
            <label id="recaptcha" #recaptcha></label>
            <input type="hidden" formControlName="captcha">
          </div>
          <p *ngFor="let validation of validation_messages.captcha">
            <small class="error-message"
              *ngIf="signupForm.get('captcha').hasError(validation.type) && signupForm.get('captcha').pending">
              {{ validation.message }}
            </small>
          </p>
        </div> -->
        <div class=" row">
          <div class="col-md-12">
            <div class="checkbox checkbox-success p-t-0">
              <label for="checkbox-signup" class="font-14">
                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue"
                  formControlName="agree_terms"> I agree to all
                <a href="javascript:void(0)">Terms</a>
              </label>
              <p *ngFor="let validation of validation_messages.agree_terms">
                <small class="error-message"
                  *ngIf="signupForm.get('agree_terms').hasError(validation.type) && signupForm.get('agree_terms').pending">
                  {{ validation.message }}
                </small>
              </p>
            </div>
          </div>
        </div>
        <div class="m-b-10 text-center">
          <div class="col-xs-12">
            <button (click)="signUp()"
              class="btn btn-warning btn-block  text-uppercase waves-effect waves-light text-white">Sign
              Up</button>
          </div>
        </div>
        <div class="">
          <div class="col-sm-12 text-center font-14">
            <b>Already have an account?
            <a style="text-decoration: underline;" [routerLink]="['/authentication/login']">
             Sign In
            </a></b>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>