<app-header ></app-header>
<div class="login-register auth-page">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="form" *ngIf="show == 1">
                <h3 class="box-title m-b-20 text-dark text-center text-uppercase"><b>Forgot Password</b></h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="user_name" required=""
                            placeholder="Username"> </div>
                    <p *ngFor="let validation of validation_messages.user_name">
                        <small class="error-message"
                            *ngIf="form.get('user_name').hasError(validation.type) && form.get('user_name').pending">
                            {{ validation.message }}
                        </small>
                    </p>
                </div>
                <div class="text-center m-t-20">
                    <button type="button"
                        class="btn btn-info  btn-block text-uppercase waves-effect waves-light text-white"
                        (click)="getOtp()">Get OTP</button>
                </div>
                <div class="form-group m-b-0 m-t-20">
                    <a class="text-white btn btn-block btn-warning" [routerLink]="['/authentication/login']">
                        SIGN IN
                    </a>

                </div>
            </form>
            <form [formGroup]="OtpForm" *ngIf="show == 2">
                <h3 class="box-title m-b-20 text-dark text-center text-uppercase"><b>Forgot Password</b></h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="otp" required=""
                            placeholder="Enter OTP"> </div>
                    <p *ngFor="let validation of validation_messages.otp">
                        <small class="error-message"
                            *ngIf="OtpForm.get('otp').hasError(validation.type) && OtpForm.get('otp').pending">
                            {{ validation.message }}
                        </small>
                    </p>
                </div>
                <div class="text-center m-t-20">
                    <button type="button"
                        class="btn btn-info  btn-block text-uppercase waves-effect waves-light text-white"
                        (click)="verify()">Verify OTP</button>
                    <button type="button"
                        class="btn btn-info  btn-block text-uppercase waves-effect waves-light text-white"
                        (click)="getOtp()">Regenerate OTP</button>
                    <a class="text-white btn-warning btn btn-block text-uppercase"
                        [routerLink]="['/authentication/login']">
                        Sign In
                    </a>
                </div>

            </form>
            <form [formGroup]="resetForm" *ngIf="show == 3">
                <h3 class="box-title m-b-20  text-dark text-center text-uppercase">Forgot Password</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="new_password" required=""
                            placeholder="Enter New Password"> </div>
                    <p *ngFor="let validation of validation_messages.new_password">
                        <small class="error-message"
                            *ngIf="resetForm.get('new_password').hasError(validation.type) && resetForm.get('new_password').pending ">
                            {{ validation.message }}
                        </small>
                    </p>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="confirm_password" required=""
                            placeholder="Enter Confirm Password"> </div>
                    <p *ngFor="let validation of validation_messages.confirm_password">
                        <small class="error-message"
                            *ngIf="resetForm.get('confirm_password').hasError(validation.type) && resetForm.get('confirm_password').pending">
                            {{ validation.message }}
                        </small>
                    </p>
                </div>
                <div class="text-center m-t-20">
                    <button type="button"
                        class="btn btn-info  btn-block text-uppercase waves-effect waves-light text-white"
                        (click)="changePassword()">Change Password</button>
                </div>
                <a class="text-white btn-warning btn btn-block text-uppercase" [routerLink]="['/authentication/login']">
                    Sign In
                </a>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>