.plan-price-list-table{
  .switch{
    small {
    top: -1px!important;
    }
  }
  .isFeaturedActive{
    background-color: #faa61a;
    color: #fff !important;
  }
}


.plan-category-form{

  .ui-switch-label{
    font-size: 12px;
    padding:8px 0 0 8px;
    vertical-align: middle;
    color: #afb1b8;
  }
}