<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
      <div class="card plan-category-form">
        <div class="card-body">
          <h4 class="mb-5">Plan Price</h4>
          <form [formGroup]="planPriceForm" (ngSubmit)="onSubmitPlanPriceForm()"  id="planPriceForm">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">
                Plan Name
              </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="plan_name" #planSelect (change)='onOptionsSelected($event)' >
                  <option [value]="null" [attr.data-stripeId]="null" hidden>--Select Plan--</option>
                  <option [value]="list.planName" [attr.data-stripeid]="list.stripeId" *ngFor="let list of planNameList">{{list.planName}}</option>
                </select>
                <p *ngFor="let validation of validation_messages.plan_name">
                  <small class="text-danger" *ngIf="
                      planPriceForm
                        .get('plan_name')
                        .hasError(validation.type) &&
                      (planPriceForm.get('plan_name').dirty ||
                        planPriceForm.get('plan_name').touched)
                    ">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">
                Plan Price
              </label>
              <div class="col-sm-8">
                <input type=" text" class="form-control" placeholder="Enter Plan Price" formControlName="plan_price" />
                <p *ngFor="let validation of validation_messages.plan_price">
                  <small class="text-danger" *ngIf="
                      planPriceForm
                        .get('plan_price')
                        .hasError(validation.type) &&
                      (planPriceForm.get('plan_price').dirty ||
                        planPriceForm.get('plan_price').touched)
                    ">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">
                Price Interval
              </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="price_interval" >
                  <option [value]="null" hidden>--Select Interval--</option>
                  <option [value]="list.intervalValue" *ngFor="let list of intervalList">{{list.interval}}</option>
                </select>
                <p *ngFor="let validation of validation_messages.price_interval">
                  <small class="text-danger" *ngIf="
                      planPriceForm
                        .get('price_interval')
                        .hasError(validation.type) &&
                      (planPriceForm.get('price_interval').dirty ||
                        planPriceForm.get('price_interval').touched)
                    ">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">
                Currency
              </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="currency" >
                  <option [value]="null" hidden>--Select Currency--</option>
                  <option [value]="list.currency_code" *ngFor="let list of currencyList">{{list.currency_code}} - {{list.currency_name}}</option>
                </select>
                <p *ngFor="let validation of validation_messages.currency">
                  <small class="text-danger" *ngIf="
                      planPriceForm
                        .get('currency')
                        .hasError(validation.type) &&
                      (planPriceForm.get('currency').dirty ||
                        planPriceForm.get('currency').touched)
                    ">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Is Featured?</label>
              <div class="col-sm-8">
                  <ui-switch size="small" formControlName="isFeatured"></ui-switch><span class="ui-switch-label"> {{(planPriceForm.get('isFeatured').value == true)? 'Active' : 'Inactive'}}</span>
                  <p *ngFor="let validation of validation_messages.isFeatured">
                      <small class="text-danger"
                          *ngIf="planPriceForm.get('isFeatured').hasError(validation.type) && (planPriceForm.get('isFeatured').dirty || planPriceForm.get('isFeatured').touched)">
                          {{ validation.message }}
                      </small>
                  </p>
              </div>
          </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Status</label>
              <div class="col-sm-8">
                  <ui-switch size="small" formControlName="price_status"></ui-switch><span class="ui-switch-label"> {{(planPriceForm.get('price_status').value == true)? 'Active' : 'Inactive'}}</span>
                  <p *ngFor="let validation of validation_messages.price_status">
                      <small class="text-danger"
                          *ngIf="planPriceForm.get('price_status').hasError(validation.type) && (planPriceForm.get('price_status').dirty || planPriceForm.get('price_status').touched)">
                          {{ validation.message }}
                      </small>
                  </p>
              </div>
            </div>

            <div class="form-group row m-t-40">
              <label class="col-sm-4"></label>
              <div class="col-sm-8">
                <button type="submit" class="btn btn-primary mr-2 mt-2 pl-5 pr-5">
                  Save Price
                </button>
                <button type="button" class="btn mt-2 pl-5 pr-5" (click)="resetForm()">
                  Refresh
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
        <div class="row  mb-2">
            <div class="col">
                <div class="float-left">
                    <h4 class="card-title">Manage Price</h4>
                </div>
            </div>
            <div class="col-sm-8 col-12">
                <form class="text-right">
                <div class="form-group row">
                <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                </div>
                <div class="col-md-4 col-sm-6 col-12 mb-3">
                    <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                </div>
                <div class="col-md-2 col-sm-3 col-12 mb-3">
                    <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                </div>
                </div>
                </form>
            </div>
        </div>
        
        <!-- table start -->
        <ngx-datatable #table class='material plan-price-list-table ' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='planPriceList'>

            <ngx-datatable-column name="S.No" sortable="true">
              <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                  <div>{{rowIndex + 1}}</div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Plan Name" sortable="true" [cellClass]="showActiveColumn">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                    <div>{{row.planName}}</div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Price" sortable="true">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                    <div>{{row.currency}} {{row.price}}</div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Interval" sortable="true">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                  <div>{{row.interval}}</div>
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column name="Status" sortable="true">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                <span class="badge badge-success badge-pill" *ngIf="row.status == 'active'"><i class="mdi mdi-checkbox-blank-circle text-success"></i> {{row.status}}</span>
                <span class="badge badge-danger badge-pill" *ngIf="row.status == 'inactive'"><i class="mdi mdi-checkbox-blank-circle text-danger"></i> {{row.status}}</span>
              </ng-template>
            </ngx-datatable-column> -->

            <!-- actions -->
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <!-- <div class="btn-group">
                        <button  class="btn btn-sm btn-warning m-r-5"  (click)="editPlanCategory(row)"><i class="fas fa-edit"></i></button>
                        <button  class="btn btn-sm btn-dark m-r-5"  (click)="deletePlanCategory(row)"><i class="fa fa-trash"></i></button>

                    </div> -->
                    <ui-switch size="small" [checked]="(row.status == 'active')? true : false"  (change)="planActivate($event, row)"></ui-switch>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
        <!-- table end -->
        </div>
      </div>
    </div>
  </div>

</div>