<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row  mb-2">
                    <div class="col-sm-4 col-xs-12">
                        <div class="float-left">
                            <h4 class="card-title">Billing</h4>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <form class="text-right">
                        <div class="form-group row">
                        <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 ">
                            <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                        </div>
                        <div class="col-md-2 col-sm-3 col-12 ">
                            <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                        </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row  mb-5">
                    <form class="col-md-12 "  (click)="onBillingSubmit()">
                        <div class=" row">
                            <div class=" col-sm-3 ">
                                <div class="input-group">
                                    <select class="form-control">
                                        <option [value]='1'>All</option>
                                        <option [value]='2'>Active</option>
                                        <option [value]='3'>Ended</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Form Date" name="dpFromDate" #dpFromDate="bsDatepicker" bsDatepicker [bsValue]="bsValue">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar shadow-none" (click)="dpFromDate.toggle()" [attr.aria-expanded]="dpFromDate.isOpen" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input class="form-control"  type="text"  placeholder="To Date" name="dpToDate" #dpToDate="bsDatepicker" bsDatepicker [bsValue]="bsValue">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar shadow-none" (click)="dpToDate.toggle()" [attr.aria-expanded]="dpToDate.isOpen"  type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-3">
                                <button class="btn btn-info btn-block" type="submit">Sumbit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- table start -->
                <ngx-datatable #table2 class='material billing-setup-list-table striped shadow-none border' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='billingList'>
        
                    <ngx-datatable-column name="S.No" sortable="true" [maxWidth]="150">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                            <div>{{rowIndex + 1}}</div>
                        </ng-template>
                    </ngx-datatable-column>
        
                    <ngx-datatable-column name="Date" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.date}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Plan Name" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.planName}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Price" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.price}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Status" sortable="true"  [width]="100">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <span class="text-capitalize" *ngIf="row.status == 'active'"><i class="fa fa-check-circle text-megna mr-1"></i> {{row.status}}</span>
                            <span class="text-capitalize" *ngIf="row.status == 'inactive'"><i class="fa fa-times-circle text-danger mr-1"></i> Ended</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Action" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <a  class="btn btn-link color  mr-10 pt-0 pb-0  pl-10 pr-10" href="javascript:void(0)"  (click)="editBillingList(row)"><i class="fa fa-eye"></i></a>
                        </ng-template>
                    </ngx-datatable-column>
        
                </ngx-datatable>
                <!-- table end -->
            </div>
        </div>
    </div>
</div>




<ng-template #Printout let-modal>
    <div class="modal-header">

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body " id="invoice">
        <h3 class="text-center" style="text-align:center;">Invoice</h3>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="float-left" style="float: left;">
                        <b> <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" /> </b>
                        <span><img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
                        <div>{{admin_billing_details.first_name}} {{admin_billing_details.last_name}}</div>
                        <div>{{admin_billing_details.position}}, {{admin_billing_details.company}}</div>
                        <div>{{admin_billing_details.phone_number}}</div>
                        <div>{{admin_billing_details.email}}</div>
                    </div>
                </div>
                <div>
                    <div class="float-right" style="float: right;">
                        <div><b>Date: </b>{{billing.payment_date | date: 'mediumDate'}}</div>
                        <div><b>Invoice No: </b>INV {{billing.id}}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="width: 100%;">
        <div class="float-right" style="float: right;">
            <h5><b>Billing To:</b></h5>
            <div>{{user_billing_details.first_name}} {{user_billing_details.last_name}}</div>
            <div>{{user_billing_details.position}}, {{user_billing_details.company}}</div>
            <div>{{user_billing_details.phone_number}}</div>
            <div>{{user_billing_details.email}}</div>
        </div>
        <div style="width: 100%;">
            <table class="table table-bordered" style="width: 100%; border: 1px solid grey;margin-top:10px">
                <thead>
                    <tr style="border: 1px solid grey;">
                        <th>S.No</th>
                        <th>Plan Name</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody style="border: 1px solid grey;">
                    <tr>
                        <td style="border: 1px solid grey;">1</td>
                        <td style="border: 1px solid grey;">{{billing.plan.plan_name}}</td>
                        <td style="border: 1px solid grey;">{{billing.plan.plan_price}}</td>
                        <td style="border: 1px solid grey;"><b>{{billing.plan.plan_price}}</b></td>

                    </tr>
                    <tr>
                        <td colspan="3" style="border: 1px solid grey;">Total Amount</td>
                        <td style="border: 1px solid grey;"><b>{{billing.plan.plan_price}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border: 1px solid grey;">Payment Mode</td>
                        <td style="border: 1px solid grey;"><b>Card</b></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border: 1px solid grey;">Card Number</td>
                        <td style="border: 1px solid grey;"><b>{{billing.card_number}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-submit" (click)="print()">Print</button>
        <button type="button" class="btn btn-clear" (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>