<div class="row">
    <div class="col-md-12 col-12 col-lg-12 col-sm-12">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-5">Plan</h4>
                        <form [formGroup]="planform" (ngSubmit)="onSubmitPlanForm()"  id="planform">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Plan Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" placeholder="Enter Plan Name"
                                        autocomplete="off" formControlName="plan_name">
                                    <p *ngFor="let validation of validation_messages.plan_name">
                                        <small class="text-danger"
                                            *ngIf="planform.get('plan_name').hasError(validation.type) && (planform.get('plan_name').dirty || planform.get('plan_name').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Plan Description</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="4" type="text" placeholder="Enter Plan Description (eg: feature 1, feature 2, feature 3)"
                                    autocomplete="off" formControlName="description"> </textarea>
                                    <p *ngFor="let validation of validation_messages.description">
                                        <small class="text-danger"
                                            *ngIf="planform.get('description').hasError(validation.type) && (planform.get('description').dirty || planform.get('description').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Plan Status</label>
                                <div class="col-sm-8">
                                    <ui-switch size="small" formControlName="status_id"></ui-switch><span class="ui-switch-label"> {{(planform.get('status_id').value == true)? 'Active' : 'Inactive'}}</span>
                                    <p *ngFor="let validation of validation_messages.status_id">
                                        <small class="text-danger"
                                            *ngIf="planform.get('status_id').hasError(validation.type) && (planform.get('status_id').dirty || planform.get('status_id').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Is Featured?</label>
                                <div class="col-sm-8">
                                    <ui-switch size="small" formControlName="isFeatured"></ui-switch><span class="ui-switch-label"> {{(planform.get('isFeatured').value == true)? 'Active' : 'Inactive'}}</span>
                                    <p *ngFor="let validation of validation_messages.isFeatured">
                                        <small class="text-danger"
                                            *ngIf="planform.get('isFeatured').hasError(validation.type) && (planform.get('isFeatured').dirty || planform.get('isFeatured').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Plan Order</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" placeholder="Low to high number"
                                        autocomplete="off" formControlName="plan_order">
                                    <p *ngFor="let validation of validation_messages.plan_order">
                                        <small class="text-danger"
                                            *ngIf="planform.get('plan_order').hasError(validation.type) && (planform.get('plan_order').dirty || planform.get('plan_order').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="row m-t-40">
                                <label class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <button  type="submit" class="btn btn-primary mr-2 mt-2 pl-5 pr-5">Save Plan</button>
                                    <button  type="button" class="btn mt-2 pl-5 pr-5" (click)="refreshBtn()">Refresh</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row  mb-2">
                            <div class="col">
                                <div class="float-left">
                                    <h4 class="card-title">Manage Plans</h4>
                                </div>
                            </div>
                            <div class="col-sm-8 col-12">
                                <form class="text-right">
                                <div class="form-group row">
                                <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mb-3">
                                    <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                                </div>
                                <div class="col-md-2 col-sm-3 col-12 mb-3">
                                    <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                                </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        
                            <!-- table start -->
                            <ngx-datatable #table class='material plan-list-table ' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='planList'>
    
                            <ngx-datatable-column name="S.No" sortable="true">
                                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                    <div>{{rowIndex + 1}}</div>
                                </ng-template>
                            </ngx-datatable-column>
    
                            <ngx-datatable-column name="Plan Name" sortable="true" prop="planName" [cellClass]="showActiveColumn">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div>{{row.planName}}</div>
                                </ng-template>
                            </ngx-datatable-column>
    
                            <ngx-datatable-column name="Plan Order" sortable="true">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <div>{{row.planOrder}}</div>
                                </ng-template>
                            </ngx-datatable-column>
    
                            <ngx-datatable-column name="Status" sortable="true">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                    <span class="" *ngIf="row.status == 'active'"><i class="mdi mdi-checkbox-blank-circle text-success"></i> {{row.status}}</span>
                                    <span class="" *ngIf="row.status == 'inactive'"><i class="mdi mdi-checkbox-blank-circle text-danger"></i> {{row.status}}</span>
                                </ng-template>
                            </ngx-datatable-column>
    
                            <!-- actions -->
                            <ngx-datatable-column name="Actions" sortable="false" prop="id">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="btn-group">
                                        <button  class="btn btn-sm btn-warning m-r-5"  (click)="editPlan(row)"><i class="fa fa-edit"></i></button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
    
                        </ngx-datatable>
                        <!-- table end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #viewPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Plan Details</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive-sm  table-responsive-xs">
            <table class="table table-bordered  m-t-20">
                <!-- <tr>
                    <th>Plan Name</th>
                    <td>{{viewPlan.plan_name}}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>
                        {{viewPlan.plan_price!=0?'$':''}}
                        {{viewPlan.plan_price==0?'Free':viewPlan.plan_price}}
                    </td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{viewPlan.plan_type_id==1?'Monthly':'Yearly'}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{viewPlan.status_id==1?'Active':'Inactive'}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>
                        <ul *ngFor="let plan of viewPlan.description;">
                            <li>{{plan.point}}</li>
                        </ul>
                    </td>
                </tr> -->
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary w-md waves-effect waves-light"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>