#header .navbar-nav .nav-item.active a{
  color: #e16123;
  background-color: transparent;
}
.custom-navbar-font-size{
  font-size: 22px;
}

.stricky-fixed{

  animation: subHeaderAnimate 0.5s ease forwards;
  animation-delay: 0s;
}

@keyframes subHeaderAnimate{
  0% {
      transform: translateY(-60px);
  }
  100% {
      transform: translateY(0px);
      box-shadow: 0 0 14px 0 rgba(0,0,0,0.15);
  }
}