<header id="header"  class="site-header header-one ">
		<nav class="navbar navbar-expand-lg navbar-light header-navigation shadow-none stricky  header-holder">
			<div class="container clearfix">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="logo-box clearfix">
					<a class="navbar-brand" href="/">
						<img src="../../../../assets/img/logo-1-1.png" class="main-logo" width="97" alt="Awesome Image" />
					</a>
					<button class="menu-toggler"  (click)="isMenuCollapsed = !isMenuCollapsed;" [attr.aria-expanded]="!isMenuCollapsed" aria-label="Toggle navigation">
						<span class="fa fa-bars custom-navbar-font-size"></span>
					</button>
				</div><!-- /.logo-box -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="main-navigation" [collapse]="isMenuCollapsed">
					<ul class=" navigation-box one-page-scroll-menu "  id="navbarList">
						<li class="scrollToLink" [ngClass]="{'current' : currentSection==='wrapper'}" data-nav-id="wrapper" >
							<a class="smooth" (click)="scroll('wrapper')">Home</a>
						</li>
						<li class="scrollToLink" [ngClass]="{'current' : currentSection==='services'}" data-nav-id="services">
							<a class="smooth" (click)="scroll('services')">Features</a>
						</li>
						<li class="scrollToLink" [ngClass]="{'current' : currentSection==='screens'}" data-nav-id="screens">
							<a class="smooth" (click)="scroll('screens')">Screenshot</a>
						</li>
						<li class="scrollToLink" [ngClass]="{'current' : currentSection==='pricing'}" data-nav-id="pricing">
							<a class="smooth" (click)="scroll('pricing')">pricing</a>
						</li>
						<li class="scrollToLink" [ngClass]="{'current' : currentSection==='blog'}" data-nav-id="blog">
							<a class="smooth" (click)="scroll('blog')">Blog</a>
							<!-- <ul class="sub-menu">
								<li><a href="blog.html">Blog Style 01</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul> -->
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
				<div class="right-side-box">
					<a href="#" class="thm-btn header-one__btn" [routerLink]="['/authentication/login']" *ngIf="!showLogoutButton">try now</a>
					<a href="javascript:void(0)" class="thm-btn header-one__btn" (click)="logoutButton()" *ngIf="showLogoutButton">Logout</a>
				</div><!-- /.right-side-box -->
			</div>
			<!-- /.container -->
		</nav>
</header>