<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <form class="mb-4" [formGroup]="inboxFilterForm" (ngSubmit)="onSubmitInboxFilterForm()"  id="inboxFilterForm">
                    <div class="row">
                        <div class="col-md-3 ">
                            <!-- <label class="mr-2">Ticket</label> -->
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter Your Subject"
                                formControlName="id" autocomplete="off">

                            </div>
                            <p *ngFor="let validation of validation_messages.id">
                                <small class="text-danger"
                                    *ngIf="inboxFilterForm.get('id').hasError(validation.type) && (inboxFilterForm.get('id').dirty || inboxFilterForm.get('id').touched)">
                                    {{ validation.message }}
                                </small>
                            </p>
                        </div>
                        <div class="col-md-3 ">
                            <!-- <label class="mr-2">Status</label> -->
                            <div class="input-group">
                                <select class="form-control" formControlName="status">
                                    <option value='null'>--Status--</option>
                                    <option value='open'>Open</option>
                                    <option value='solved'>Solved</option>
                                </select>
                            </div>
                            <p *ngFor="let validation of validation_messages.status">
                                <small class="text-danger"
                                    *ngIf="inboxFilterForm.get('status').hasError(validation.type) && (inboxFilterForm.get('status').dirty || inboxFilterForm.get('status').touched)">
                                    {{ validation.message }}
                                </small>
                            </p>
                        </div>
                        <!-- <div class="col-md-3 ">
                            <label class="mr-2">From Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" [(ngModel)]="fromDateModel"
                                    ngbDatepicker #fromDate="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn custom-calendar-btn no-shadow" (click)="fromDate.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <label class="mr-2">To Date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" [(ngModel)]="toDateModel"
                                    ngbDatepicker #toDate="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn custom-calendar-btn no-shadow" (click)="toDate.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-2">
                            <button type="submit" class=" btn btn-info pl-5 pr-5">Submit</button>
                        </div>
                    </div>
                </form>

                <!-- table start -->
                <ngx-datatable #table class='material inbox-list-table' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='inboxList'>

                <!-- <ngx-datatable-column name="S.No" sortable="true" prop="id">
                    <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                        <div>{{rowIndex + 1}}</div>
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="No" sortable="true">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <div>{{row.ticketNo}}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Category" sortable="true">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <div>{{row.category}}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Subject" sortable="true">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <div>{{row.subject}}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Message" sortable="true">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <div>{{row.comments}}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Last Updated" sortable="true">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <div>{{row.lastUpdated}}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Status" sortable="true">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                        <span class="" *ngIf="row.status == 'solved'"><i class="mdi mdi-checkbox-blank-circle text-success"></i> {{row.status}}</span>
                        <span class="" *ngIf="row.status == 'open'"><i class="mdi mdi-checkbox-blank-circle text-danger"></i> {{row.status}}</span>
                    </ng-template>
                </ngx-datatable-column>

                <!-- actions -->
                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <div class="btn-group">
                            <button  class="btn btn-sm btn-warning mr-2"  (click)="viewFile(row)"><i class="fa fa-eye"></i></button>
                            <button  class="btn btn-sm m-r-5"  (click)="reply(row)"><i class="fa fa-reply"></i></button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
            <!-- table end -->
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-12 ">
        <div class="card inbox-form">
            <div class="card-body">
                <div class="row  mb-5">
                    <div class="col">
                        <div class="float-left">
                            <h4 class="card-title">Compose</h4>
                        </div>
                    </div>
                </div>
                <form [formGroup]="inboxForm" (ngSubmit)="onSubmitInboxForm()"  id="inboxForm">
                    <div class="row mb-0">
                        <div class="col-lg-12  col-12">
                            <div class="form-group row">
                                <label class="col-4 col-form-label" >Ticket #</label>
                                <div class="col-8">
                                    <input  class="form-control" required formControlName="ticketId" placeholder="Ticket Id"/>
                                    <p *ngFor="let validation of validation_messages.ticketId">
                                        <small class="text-danger"
                                            *ngIf="inboxForm.get('ticketId').hasError(validation.type) && (inboxForm.get('ticketId').dirty || inboxForm.get('ticketId').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Category</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="category_id">
                                        <option [value]="null" hidden>--Select Category--</option>
                                        <option [value]="cat.categoryValue" *ngFor="let cat of category_lists">{{cat.categoryList}}</option>
                                    </select>
                                    <p *ngFor="let validation of validation_messages.category_id">
                                            <small class="text-danger"
                                                *ngIf="inboxForm.get('category_id').hasError(validation.type) && (inboxForm.get('category_id').dirty || inboxForm.get('category_id').touched)">
                                                {{ validation.message }}
                                            </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label" >Subject</label>
                                <div class="col-8">
                                    <input  class="form-control" placeholder="Enter the Subject" required formControlName="subject"/>
                                    <p *ngFor="let validation of validation_messages.subject">
                                        <small class="text-danger"
                                            *ngIf="inboxForm.get('subject').hasError(validation.type) && (inboxForm.get('subject').dirty || inboxForm.get('subject').touched)">
                                            {{ validation.message }}
                                        </small>
                                </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Answer</label>
                                <div class="col-8">
                                    <textarea class="form-control" formControlName="answer"></textarea>
                                    <p *ngFor="let validation of validation_messages.answer">
                                        <small class="text-danger"
                                            *ngIf="inboxForm.get('answer').hasError(validation.type) && (inboxForm.get('answer').dirty || inboxForm.get('answer').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label">Status</label>
                                <div class="col-8">
                                    <ui-switch size="small" formControlName="status"></ui-switch><span class="ui-switch-label"> {{(inboxForm.get('status').value == true)? 'Solved' : 'Open'}}</span>
                                    <p *ngFor="let validation of validation_messages.status">
                                        <small class="text-danger"
                                            *ngIf="inboxForm.get('status').hasError(validation.type) && (inboxForm.get('status').dirty || inboxForm.get('status').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row mt-5">
                                <label class="col-4"></label>
                                <div class="col-8">
                                    <button type="submit" class="btn btn-primary pl-5 pr-5">{{ update_btn ? "Update" : "Reply" }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- <h4 class=" text-muted"> date and time </h4> -->
    </div>
</div>