<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Test Console</h4>
                <div class="row mt-5">
                    <div class="col-lg-6 col-md-6 col-12">
                        <form [formGroup]="testConsoleForm">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Method</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="method_id">
                                        <option [value]="1">Check</option>
                                        <option [value]="2">Check Count</option>
                                    </select>
                                    <p *ngFor="let validation of validation_messages.method_id" class="mb-0">
                                        <small class="text-danger"
                                            *ngIf="testConsoleForm.get('method_id').hasError(validation.type) && (testConsoleForm.get('method_id').dirty || testConsoleForm.get('method_id').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Text</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="" formControlName="text" />
                                    <p *ngFor="let validation of validation_messages.text" class="mb-0">
                                        <small class="text-danger"
                                            *ngIf="testConsoleForm.get('text').hasError(validation.type) && (testConsoleForm.get('text').dirty || testConsoleForm.get('text').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Replace Symbol</label>
                                <div class="col-sm-8">
                                    <input text="type" class="form-control" placeholder="" formControlName="replace_symbol" />
                                    <p *ngFor="let validation of validation_messages.replace_symbol" class="mb-0">
                                        <small class="text-danger"
                                            *ngIf="testConsoleForm.get('replace_symbol').hasError(validation.type) && (testConsoleForm.get('replace_symbol').dirty || testConsoleForm.get('replace_symbol').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Word</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="" formControlName="word" />
                                    <p *ngFor="let validation of validation_messages.word" class="mb-0">
                                        <small class="text-danger"
                                            *ngIf="testConsoleForm.get('word').hasError(validation.type) && (testConsoleForm.get('word').dirty || testConsoleForm.get('word').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Deep Search</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" formControlName="deep_search" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Filter urls ? </label>
                                <div class="col-sm-8">
                                    <ui-switch size="small" formControlName="filter_urls"></ui-switch>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Filter Emails ? </label>
                                <div class="col-sm-8">
                                    <ui-switch size="small" formControlName="filter_emails"></ui-switch>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Filter Phone #s ? </label>
                                <div class="col-sm-8">
                                    <ui-switch size="small" formControlName="filter_phone_numbers"></ui-switch>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Response Text</label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="response_text_id">
                                        <option [value]="1">JSON</option>
                                        <option [value]="2">XML</option>
                                    </select>
                                    <p *ngFor="let validation of validation_messages.response_text_id" class="mb-0">
                                        <small class="text-danger"
                                            *ngIf="testConsoleForm.get('response_text_id').hasError(validation.type) && (testConsoleForm.get('response_text_id').dirty || testConsoleForm.get('response_text_id').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group mt-5 text-center">
                                <button class="btn btn-info pl-5 pr-5" (click)="save()">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="offset-lg-1 col-lg-5 offset-md-1 col-md-5 col-12">
                        <form [formGroup]="testConsoleForm">
                            <h4 class="mb-4">Results</h4>

                            <div class="form-group">
                                <label>Request Url</label>
                                <input type="text" class="form-control" placeholder="" formControlName="request_url" />
                                <p *ngFor="let validation of validation_messages.request_url" class="mb-0">
                                    <small class="text-danger"
                                        *ngIf="testConsoleForm.get('request_url').hasError(validation.type) && (testConsoleForm.get('request_url').dirty || testConsoleForm.get('request_url').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Service Response</label>
                                <textarea class="form-control" placeholder="" rows="10"
                                    formControlName="service_response"> </textarea>
                                <p *ngFor="let validation of validation_messages.service_response" class="mb-0">
                                    <small class="text-danger"
                                        *ngIf="testConsoleForm.get('service_response').hasError(validation.type) && (testConsoleForm.get('service_response').dirty || testConsoleForm.get('service_response').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>