  <!-- class="wow rollIn" data-wow-duration="2s" data-wow-delay="5s" -->

  <!-- <div class="loader-container" id="pre-loader"><div class="loader"><img src="../../../assets/images/ball-triangle.svg" alt="loader"></div></div> -->
  <!-- header of the page -->
  <app-header (scroll_name)="scroll($event)" [getId]="getId" (headerIds)="getheaderId($event)"></app-header>

<!-- ======= 2.01 Page Title Area ====== -->
  <div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle text-center">
                    <div class="h2">Terms of Use</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->


  <section class="secPdngT terms-of-use-section">

    <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="terms-of-use-inner-section">
          <div class="terms-of-use-title h3 animated">
            This web site is owned by Acestra Inc. Visitors to this web site are bound by the following terms and conditions so please read these carefully before going on.
          </div>
          <div class="terms-of-use-content animated">
            <strong>Disclaimer</strong>
            <p>This web site may include links to external web sites. When you follow such links the external web site may appear as a full screen (in which case, you will need to use the back button on your browser to return to this web site) or in some cases it may appear within the frame of this web site (in which case, you will be able to return to this web site by using the navigation buttons within the frame). Where an external web site appears within the frame of this web site, this is purely for ease of navigation back to this web site and does not indicate any responsibility on our part for the external web site concerned. These links are provided in order to help you quickly and easily find relevant web sites, services and/or products that may be of interest to you. It is your responsibility to decide whether any services and/or products available through any of these web sites are suitable for your purposes. Also, you may have linked to this web site from an external web site. We are not responsible for the owners or operators of any of these web sites nor for any goods or services they supply nor for the content of their web sites. We do not give or enter into any conditions, warranties or other terms or representations in relation to any of these web sites nor accept any liability in relation to any of these web sites (such as, any liability arising out of any claim that the content of any external web site infringes the intellectual property rights of any third party).</p>

            <p>All information or advice provided as part of this web site is intended to be general in nature and you should not rely on it in connection with the making of any decision. We try to ensure that all information provided as part of this web site is correct at the time of inclusion on the web site but do not guarantee the accuracy of such information. We are not liable for any action you may take as a result of relying on such information or advice or for any loss or damage suffered by you as a result of you taking this action.</p>

            <strong>Terms and Conditions</strong>
            <p>This web site contains material including text, photographs and other images and sound, which is protected by copyright and/or other intellectual property rights. All copyright and other intellectual property rights in this material are either owned by Acestra or have been licensed to us by the owner(s) of those rights so that we can use this material as part of this web site.</p>

            <p>This web site also contains trademarks. All registered trademarks or trademarks included on this web site belong to us or have been licensed to us by the owner(s) of those trademarks for use on this web site.</p>

            <strong>You may:</strong>

            <p>Access any part of the web site;</p>
            <p>Print off one copy of any or all of the pages for your own personal reference.</p>
            

            <strong>You may not without our express written consent:</strong>

            <p>copy (whether by printing off onto paper, storing on disk, downloading or in any other way), distribute (including distributing copies), broadcast, alter or tamper with in any way or otherwise use any material contained in the web site except as set out under the heading "You may". These restrictions apply in relation to all or part of the material on the web site;
            remove any copyright, trade mark or other intellectual property notices contained in the original material from any material copied or printed off from the web site;
            link to this web site.</p>
            

            <strong>If you wish to provide a hypertext or other link to this web site, please contact us with details of:</strong>

            <p>the URL(s) of the web page(s) from which you are proposing to link to this web site; and
            the URL(s) of the web page(s) on this web site to which you are proposing to link;
            
            and we will consider your request. It is our decision as to whether we agree to your request and we do not have to do so.</p>

            <strong>Changes to Terms and Conditions</strong>
            <p>We may change the terms and conditions and disclaimer set out above from time to time. By browsing this web site you are accepting that you are bound by the current terms and conditions and disclaimer, so you should check these each time you revisit the site.</p>

            <strong>Changes to/Operation of Web Site</strong>
            <p>We may change the format and content of this web site at any time.
            We may suspend the operation of this web site for support or maintenance work, in order to update the content or for any other reason.
            We reserve the right to terminate access to this web site at any time and without notice.</p>

            <strong>Data Protection</strong>
            <p>Personal details provided to Acestra through this web site will only be used in accordance with our privacy policy. Please read this carefully before going on. By providing your personal details to us you are consenting to its use in accordance with our privacy policy.</p>

            <strong>Complaints Procedure</strong>
            <p>If you have a question or complaint, please contact us.</p>
          </div>
        </div>
        </div>
        </div>
        </div>
  </section>


		<!-- footer of the page -->
		<app-footer></app-footer>
    <!-- footer of the page end -->
    
		<!-- Back Top of the page -->
		<span id="back-top" class="fa fa-chevron-up active"  [ngClass]="{'active': isShow == true}" (click)="scrollToTop()"></span>