.setting-page{
    .custom-image-profile{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;   
        }
        &::after{
            position: absolute;
            content: '+';
            font-size: 30px;
            left:0;
            right:0;
            top:0;
            text-align: center;
            line-height: 100px;
            color: #000;
            width: 100px;
            height: 100px;
            text-shadow: 0px 0px 4px #ffffff;
            background-color: rgba(0,0,0,0.2);
        }
    }

    .uploadFileName{
        font-size: 14px;
        color: rgba(42, 49, 66, 0.4);
        font-weight: 400;
    }
}