<footer id="footer" class="site-footer">
	<div class="site-footer__upper">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="footer-widget">
						<a href="/" class="footer-widget__logo"><img src="../../../../assets/img/logo-1-1.png"
								width="132" alt="Awesome Image" /></a>
						<p class="footer-widget__text">Lorem ipsum velna vitae auctor a congue magna tempor
							sapien eget gravida done.</p><!-- /.footer-widget__text -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-lg-5 -->
				<div class="col-lg-4">
					<div class="footer-widget">
						<ul class="footer-widget__links">
							<li class="footer-widget__links-item"><a href="#">About</a></li>
							<li class="footer-widget__links-item"><a href="#">Our Team</a></li>
							<li class="footer-widget__links-item"><a href="#">Features</a></li>
							<li class="footer-widget__links-item"><a href="#">Blog</a></li>
							<li class="footer-widget__links-item"><a href="#">How It Works</a></li>
						</ul><!-- /.footer-widget__links -->
						<ul class="footer-widget__links">
							<li class="footer-widget__links-item"><a href="#">Speed Optimization</a></li>
							<li class="footer-widget__links-item"><a href="#">Marketing Analysis</a></li>
							<li class="footer-widget__links-item"><a href="#">SEO and Backlinks</a></li>
							<li class="footer-widget__links-item"><a href="#">Content Marketing</a></li>
						</ul><!-- /.footer-widget__links -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-3">
					<div class="footer-widget">
						<a href="#" class="footer-widget__btn">
							<i class="fa fa-play"></i>
							<span class="footer-widget__btn-text">
								Get in <span class="footer-widget__btn-text-highlight">Google Play</span>
							</span>
						</a>
						<a href="#" class="footer-widget__btn">
							<i class="fa fa-play"></i>
							<span class="footer-widget__btn-text">
								Get in <span class="footer-widget__btn-text-highlight">play store</span>
							</span>
						</a>
					</div><!-- /.footer-widget -->
				</div><!-- /.col-lg-3 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.site-footer__upper -->
	<div class="site-footer__bottom">
		<div class="container">
			<div class="site-footer__social">
				<a href="#"><i class="fa fa-facebook-square"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-pinterest-p"></i></a>
			</div><!-- /.site-footer__social -->
			<p class="site-footer__copy-text"><i class="fa fa-copyright"></i>copyright 2019 by <a
					href="#">Layerdrops.com</a></p><!-- /.site-footer__copy-text -->
		</div><!-- /.container -->
	</div><!-- /.site-footer__bottom -->
</footer>
