.scroll-to-top {
  display: inline-block;
  width: 45px;
  height: 45px;
  background:#00c44f;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  text-align: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  display: none;
  border-radius: 50%;
  transition: all .4s ease;
}

.scroll-to-top i {
  color: #fff;
  font-size: 18px;
  line-height: 45px;
}

.scroll-to-top:hover {
  background-color: #444444;
}

.scroll-to-top:hover i {
  color:#00c44f;
}