.privacy-section .privacy-content{
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: justify;
}
.privacy-section .privacy-content ul{
  margin-top: 15px;
}
.privacy-section .privacy-content ul li{
  text-align: left;
  list-style: inside;
}
.privacy-section .privacy-content ol li{
  text-align: left;
  list-style: decimal;
  margin-left: 15px;
}
.privacy-section .privacy-content ul li strong, .privacy-section .privacy-content ol li strong{
  padding-right: 5px;
}

.privacy-section .privacy-content h3,.privacy-section .privacy-content h5{
margin-top: 25px;
}
.privacy-section .privacy-content h6{
  color: #999999;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.privacy-section .privacy-inner-section{
  color: #999999;
  font-size: 15px;
  padding: 0 50px;
}
.privacy-section .privacy-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 45px 0 40px;
  text-align: left;
  font-size: 20px;
}
.privacy-section .privacy-sub-title {
  margin-bottom: 40px;
  text-align: center;
}
.privacy-section .privacy-sub-title .sub-1 {
  display: inline-block;
}

.privacy-section .privacy-sub-title .sub-2 {
  display: inline-block;
  margin-left: 10px;
}
.privacy-section .privacy-sub-title .sub-2 span{
color:#70a84c;
text-transform: capitalize;
}
.no-record-found{
  color:red;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-word;
}
.pageTitleArea{
  /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/assets/img/privacy-policy.jpg');
  background-size: cover;
  background-position:bottom;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  padding: 20px 0;
  background: rgba(0,0,0,0.5);
}
.pageTitleArea .h2{
  color:#fff;
}