  <!-- class="wow rollIn" data-wow-duration="2s" data-wow-delay="5s" -->

  <!-- <div class="loader-container" id="pre-loader"><div class="loader"><img src="../../../assets/images/ball-triangle.svg" alt="loader"></div></div> -->
  <!-- header of the page -->
  <app-header (scroll_name)="scroll($event)" [getId]="getId" (headerIds)="getheaderId($event)"></app-header>
 
 <!-- ======= 2.01 Page Title Area ====== -->
  <div class="pageTitleArea animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pageTitle text-center">
                    <div class="h2">Privacy</div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= /2.01 Page Title Area ====== -->


  <section class="secPdngT privacy-section">

    <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="privacy-inner-section">
              <div class="privacy-title h3 animated">
                Last updated: Dec 01, 2020
              </div>
              <div class="privacy-content animated">
                <p>At Acestra, we take privacy very seriously and have detailed how we treat personal data we hold in our privacy policy ("policy"). This policy and any other documents referred to in it set out the information we collect, the reasons why we collect that information and how may use and share that information.</p>

                <p>We encourage you to read this policy carefully. It will help you make informed decisions about sharing your personal data with us.</p>

                <p>By accessing our Website and using our service, you consent to the terms of this policy and agree to be bound by it.</p>

                <strong>Information Do We Collect?</strong>

                <p>Acestra collects your personal data so that we can provide you with the service and any related services you may request. In doing so, Acestra may use the personal data we have collected from you for purposes related to the service including:</p>
                  <ul>
                <li>identity verification;</li>
                <li>service administration;</li>
                <li>changes to services or service policies;</li>
                <li>offering technical support or resolving service issues;</li>
                <li>complying with laws and regulations in applicable jurisdictions; and
                communicating with you</li>
                  </ul>

                <strong>How Do We Use the Information We Collect?</strong>

                <p>Acestra does not sell, trade, or rent personal information to any other organization, nor do we partner with or have special relationships with any ad server companies. The information we collect is used to improve the content of our Web site, to customize the content and layout of our site for each individual visitor, and to notify visitors of updates to our Web site.</p>

                <p>If you supply us with your e-mail address, postal address, or telephone number, you may receive periodic communications from us with information regarding new products and services or upcoming events. If you do not wish to receive e-mail, mailings, or telephone calls from us in the future, please contact us at the addresses and we will take your name off our list.</p>

                <strong>Compliance with Law</strong>

                <p>Any collection or use of personal information will comply with applicable law.</p>

                <p>Although we maintain appropriate administrative, physical, and technical safeguards for protection of the security, confidentiality and integrity of all electronic data or information submitted through the Website or our products or services, neither the Website or our products or services have been certified as compliant with the EU General Data Protection Regulation (GDPR), which covers personal information of residents of the European Union, or the Health Insurance Portability and Accountability Act (HIPAA), which covers personal health information.</p>

                <p>Our products and services have not been certified as compliant with the Payment Card Industry Data Security Standard (PCI DSS), which covers credit card holder information.</p>

                <p>The Website is designed solely for residents of Canada. If you are a resident of the European Union you should not submit personal information through the Website.</p>

                <p>As a business budgeting solution, our products and services are not designed for the storage of personal information. If you are a user of our products and services, there is no need to enter personal information to use them to their full benefit, and we strongly advise that you do not store any personal information on our systems.</p>

                <p>Additional terms concerning GDPR can be found in the Standard Terms and Conditions for our services.</p>

                <strong>How are Cookies Used?</strong>

                <p>We use "cookies" (discrete units of identifying information stored on your computer) to:</p>

                <p>record user-specific information on what pages users access or visit,
                alert visitors to new areas that we think may be of interest to them when they return to our site,
                record past activity at the site in order to provide better service when visitors return to our site,
                customize Web page content based on visitors, browser type, or other information that the visitor sends.</p>
                

                <strong>Who is collecting your information?</strong>

                <p>your information is being collected solely by Acestra.</p>

                <strong>Retention of information</strong>

                <p>Any information we collect may be retained for an indeterminate period of time.</p>

                <strong>Business Transfers</strong>

                <p>Acestra's business may be sold, merged or otherwise transferred to another entity. The personal information you have provided at the Website may be transferred as part of that transaction. However, we will take steps to assure that any personal information is used in a manner consistent with the Acestra privacy policy under which it was collected.</p>

                <strong>Future Changes to Privacy policy</strong>

                <p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will post the policy changes to our Web site to notify you of these changes and provide you with the opportunity to opt out of these new uses. If you are concerned about how your information is used, you should check back at our Web site periodically.</p>

                <p>Customers may prevent their information from being used for purposes other than those for which it was originally collected by calling us at the number provided below or following online instructions to opt out or unsubscribe.</p>

                <p>Upon request, we will provide site visitors with access to unique identifier information (e.g., customer number or password) or contact information (e.g., name, address, phone number) that we maintain about them. We will also, upon request, offer visitors the ability to have inaccuracies corrected in contact information, unique identifiers, transaction information.</p>

                <p>If you feel that this site is not following its stated information policy, or have any other questions or concerns regarding this policy, you may email us at <a href="mailto:support@acestra.com">support@acestra.com</a>.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
  </section>

  <!-- footer of the page -->
  <app-footer></app-footer>
  <!-- footer of the page end -->
  
  <!-- Back Top of the page -->
  <span id="back-top" class="fa fa-chevron-up active"  [ngClass]="{'active': isShow == true}" (click)="scrollToTop()"></span>