<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-4">Stats</h4>
                <canvas baseChart class="line-chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-12 col-lg-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="col-6 m-t-10">License Info</h4>
                    <h4 class="col-6"><span class="float-right m-b-10"><button [routerLink]="['/plan_detail']"
                                routerLinkActive="active" class="btn btn-info">Manage
                                Plan</button></span></h4>
                </div>
                <div class="row">
                    <table class="table ">
                        <tr>
                            <td>Name</td>
                            <td> Seera Jeera</td>
                        </tr>
                        <tr>
                            <td>Plan Type</td>
                            <td> Trial</td>
                        </tr>
                        <tr>
                            <td>Expiry Date</td>
                            <td>Jan 18,2020</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-12 col-lg-7">
        <div class="card">
            <div class="card-body">
                <div class="row  mb-2">
                    <div class="col-sm-4 col-xs-12  m-t-10 mb-2">
                        <div class="float-left">
                            <h4>Last 10 Logins</h4>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <!-- <form class="text-right">
                        <div class="form-group row">
                        <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 ">
                            <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                        </div>
                        <div class="col-md-2 col-sm-3 col-12 ">
                            <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                        </div>
                        </div>
                        </form> -->
                    </div>
                </div>

                <!-- table start -->
                <ngx-datatable #table class='material cabinet-setup-list-table striped shadow-none border' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='loginList'>
        
                    <ngx-datatable-column name="S.No" sortable="true" [maxWidth]="150">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                            <div>{{rowIndex + 1}}</div>
                        </ng-template>
                    </ngx-datatable-column>
        
                    <ngx-datatable-column name="Ip Address" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.ipAddress}}</div>
                        </ng-template>
                    </ngx-datatable-column>
        
                    <ngx-datatable-column name="Date Time" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.dateTime}}</div>
                        </ng-template>
                    </ngx-datatable-column>
        
                </ngx-datatable>
                <!-- table end -->
            </div>
        </div>
    </div>
</div>