textarea::-webkit-input-placeholder {
  color: #6c757d;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: #6c757d;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #6c757d;  
}

textarea:-ms-input-placeholder {
  color: #6c757d;  
}

textarea::placeholder {
  color: #6c757d;  
}
.wordListTab .nav[role='tablist']{
  // padding: 0 30px;
}
.wordListTab .nav[role='tablist'] li > a{
  background-color: unset;
  border-top:none;
  border-bottom: 1px solid #fff;
  border-color: transparent transparent #fff!important;
}
.wordListTab .nav[role='tablist'] li.active > a{
  background-color: #fff;
}
.wordListTab .nav li.active > a:hover, .wordListTab .nav li > a:focus, .wordListTab .nav li > a:active{
  color:#1976d2 !important;
}


.create-project-modal .modal-dialog .modal-title.project-modla-title{
  font-size: 24px;
  text-transform: capitalize;
}
.create-project-modal .modal-dialog .modal-title.project-modla-title .para{
  font-size: 12px;
  font-weight: 400;
}
.create-project-modal .create-project-form{
  max-width: 450px;
  margin: 0 auto;
}
