<div class="row gutter-20">
    <div class="col-md-12">
        <tabset [justified]="true" class="wordListTab">
            <tab heading="Ban List" id="tab1">
                <div class="row m-t-20">
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>Custom Word List</h4>
                                <form [formGroup]="banListFormGroup" (ngSubmit)="onSubmit()" class="mt-5">
                                    <div class="form-group">
                                        <div class="">
                                            <textarea class="form-control" placeholder="Comma separated words..."
                                                formControlName="word"></textarea>
                                        </div>
                                        <p *ngFor="let validation of validation_messages.word">
                                            <span class="error-message"
                                                *ngIf="banListFormGroup.get('word').hasError(validation.type) && (banListFormGroup.get('word').dirty || banListFormGroup.get('word').touched)">
                                                {{ validation.message }}
                                            </span>
                                        </p>
                                    </div>
                                    <p class="text-center">(or)</p>
                
                                    <div class=" form-group">
                                        <input type="file" class="form-control" formControlName="csv_file"
                                            (change)="uploadListener($event)" accept=".csv">
                                    </div>
                                </form>
                                <div class="text-right mt-5">
                                    <button class="btn btn-info pl-5 pr-5" type="submit">{{update_btn==true?'Update Words':'Add Words'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row  mb-2">
                                    <div class="col-sm-4 col-xs-12">
                                        <!-- <div class="float-left">
                                            <h4 class="card-title"></h4>
                                        </div> -->
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <form class="text-right">
                                        <div class="form-group row">
                                        <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-12 ">
                                            <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-12 ">
                                            <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                                        </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
            
                                <!-- table start -->
                                <ngx-datatable #table class='material cabinet-setup-list-table striped shadow-none border' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                                [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='banList'>
                        
                                    <ngx-datatable-column name="S.No" sortable="true" [maxWidth]="150">
                                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                            <div>{{rowIndex + 1}}</div>
                                        </ng-template>
                                    </ngx-datatable-column>
                        
                                    <ngx-datatable-column name="Ban Words" sortable="true">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                            <div>{{row.banWords}}</div>
                                        </ng-template>
                                    </ngx-datatable-column>
            
                                    <ngx-datatable-column name="Action" sortable="true">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                            <a  class="btn btn-link color  mr-10 pt-0 pb-0  pl-10 pr-10 text-success" href="javascript:void(0)"  (click)="editBanList(row)"><i class="fa fa-edit"></i></a>
                                            <a  class="btn btn-link color  mr-10 pt-0 pb-0  pl-10 pr-10" href="javascript:void(0)"  (click)="editBanList(row)"><i class="fa fa-trash"></i></a>
                                        </ng-template>
                                    </ngx-datatable-column>
                        
                                </ngx-datatable>
                                <!-- table end -->
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Allow List" id="tab2">
                <div class="row m-t-20">
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>Custom Word List</h4>
                                <form [formGroup]="allowedListFormGroup" (ngSubmit)="onAllowedFormSubmit()" class="mt-5">
                                    <div class="form-group">
                                        <div class="">
                                            <textarea class="form-control" placeholder="Comma separated words..."
                                                formControlName="word"></textarea>
                                        </div>
                                        <p *ngFor="let validation of validation_messages.word">
                                            <span class="error-message"
                                                *ngIf="allowedListFormGroup.get('word').hasError(validation.type) && (allowedListFormGroup.get('word').dirty || allowedListFormGroup.get('word').touched)">
                                                {{ validation.message }}
                                            </span>
                                        </p>
                                    </div>
                                    <p class="text-center">(or)</p>
                
                                    <div class=" form-group">
                                        <input type="file" class="form-control" formControlName="csv_file"
                                            (change)="uploadListener($event)" accept=".csv">
                                    </div>
                                </form>
                                <div class="text-right mt-5">
                                    <button class="btn btn-info pl-5 pr-5" type="submit">{{update_btn==true?'Update Words':'Add Words'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row  mb-2">
                                    <div class="col-sm-4 col-xs-12">
                                        <!-- <div class="float-left">
                                            <h4 class="card-title"></h4>
                                        </div> -->
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <form class="text-right">
                                        <div class="form-group row">
                                        <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-12 ">
                                            <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter2($event)' />
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-12 ">
                                            <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue2">
                                        </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
            
                                <!-- table start -->
                                <ngx-datatable #table2 class='material cabinet-setup-list-table striped shadow-none border' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                                [rowHeight]="'auto'" [limit]="selectPageValue2" [rows]='allowedList'>
                        
                                    <ngx-datatable-column name="S.No" sortable="true" [maxWidth]="150">
                                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                            <div>{{rowIndex + 1}}</div>
                                        </ng-template>
                                    </ngx-datatable-column>
                        
                                    <ngx-datatable-column name="Allowed Words" sortable="true">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                            <div>{{row.allowedWords}}</div>
                                        </ng-template>
                                    </ngx-datatable-column>
            
                                    <ngx-datatable-column name="Action" sortable="true">
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                            <a  class="btn btn-link color  mr-10 pt-0 pb-0  pl-10 pr-10 text-success" href="javascript:void(0)"  (click)="editAllowedList(row)"><i class="fa fa-edit"></i></a>
                                            <a  class="btn btn-link color  mr-10 pt-0 pb-0  pl-10 pr-10" href="javascript:void(0)"  (click)="editAllowedList(row)"><i class="fa fa-trash"></i></a>
                                        </ng-template>
                                    </ngx-datatable-column>
                        
                                </ngx-datatable>
                                <!-- table end -->
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>