

    <div class="row admin-stats text-center">
        <div class="col-lg-3 col-md-3 col-12">
            <div class="card  mini-stat position-relative card-ui">
                <div class="card-body">
                    <div class="mini-stat-desc">
                    <div class="text-white">
                    <h3 class="text-uppercase mt-0">Basic</h3>
                    <h5 class="mb-1 mt-0">Active - {{notifications}}%</h5>
                    <h5 class="mb-1 mt-0">Inactive - {{notifications}}%</h5>
                    </div>
                    <!-- <div class="mini-stat-icon">
                        <i class="mdi mdi-bell-outline display-2"></i>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            <div class="card  mini-stat position-relative card-ui">
                <div class="card-body">
                     <div class="mini-stat-desc">
                    <div class="text-white">
                    <h3 class="text-uppercase mt-0">Standard</h3>
                    <h5 class="mb-1 mt-0">Active - {{subscriptions}}%</h5>
                    <h5 class="mb-1 mt-0">Inactive - {{subscriptions}}%</h5>
                    </div>
                    <!-- <div class="mini-stat-icon">
                        <i class="mdi mdi-calendar-check display-2"></i>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            <div class="card  mini-stat position-relative card-ui">
                <div class="card-body">
                     <div class="mini-stat-desc">
                    <div class="text-white">
                    <h3 class="text-uppercase mt-0">Enterprise</h3>
                    <h5 class="mb-1 mt-0">Active - {{packages}}%</h5>
                    <h5 class="mb-1 mt-0">Inactive - {{packages}}%</h5>
                    </div>
                    <!-- <div class="mini-stat-icon">
                        <i class="mdi mdi-briefcase-check display-2"></i>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            <div class="card  mini-stat position-relative card-ui">
                <div class="card-body">
                     <div class="mini-stat-desc">
                    <div class="text-white">
                    <h3 class="text-uppercase mt-0">Free</h3>
                    <h5 class="mb-1 mt-0">Active - {{dormant}}%</h5>
                    <h5 class="mb-1 mt-0">Inactive - {{dormant}}%</h5>
                    </div>
                    <!-- <div class="mini-stat-icon">
                        <i class="mdi mdi-cube-outline display-2"></i>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-12 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 ">
                            <h4 class="mb-4">User Accounts</h4>
                            <canvas baseChart class="line-chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="row  mb-2">
                        <div class="col-sm-4 col-xs-12  m-t-10 mb-2">
                            <div class="float-left">
                                <h4>Last 10 Logins</h4>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            <!-- <form class="text-right">
                            <div class="form-group row">
                            <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 ">
                                <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                            </div>
                            <div class="col-md-2 col-sm-3 col-12 ">
                                <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                            </div>
                            </div>
                            </form> -->
                        </div>
                    </div>
    
                    <!-- table start -->
                    <ngx-datatable #table class='material cabinet-setup-list-table striped shadow-none border' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='loginList'>
            
                        <ngx-datatable-column name="S.No" sortable="true" [maxWidth]="150">
                            <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                                <div>{{rowIndex + 1}}</div>
                            </ng-template>
                        </ngx-datatable-column>
            
                        <ngx-datatable-column name="Ip Address" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.ipAddress}}</div>
                            </ng-template>
                        </ngx-datatable-column>
            
                        <ngx-datatable-column name="Date Time" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.dateTime}}</div>
                            </ng-template>
                        </ngx-datatable-column>
            
                    </ngx-datatable>
                    <!-- table end -->
                </div>
            </div>
        </div>
    </div>