
<app-header ></app-header>
<div class="login-register auth-page">
    <div class="">
      <div class="login-box card laying">
        <div class="card-body">
          <form class="form-horizontal form-material" [formGroup]="form">
            <h3 class="box-title m-b-20 text-center text-dark text-uppercase"><b>Sign In</b></h3>
            <div class="form-group ">
              <div class="col-xs-12">
                <input class="form-control" type="text" formControlName="user_name" placeholder="Username">
              </div>
              <p *ngFor="let validation of validation_messages.user_name">
                <small class="error-message"
                  *ngIf="form.get('user_name').hasError(validation.type) && form.get('user_name').pending">
                  {{ validation.message }}
                </small>
              </p>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control ng-invalid" type="password" formControlName="user_password"
                  placeholder="Password"> </div>
              <p *ngFor="let validation of validation_messages.user_password">
                <small class="error-message"
                  *ngIf="form.get('user_password').hasError(validation.type) && form.get('user_password').pending">
                  {{ validation.message }}
                </small>
              </p>
            </div>
            <!-- <div class="form-group">
              <div class="col-xs-12">
                <label id="recaptcha" #recaptcha></label>
                <input type="hidden" formControlName="captcha">
                <p *ngFor="let validation of validation_messages.captcha">
                  <small class="error-message"
                    *ngIf="form.get('captcha').hasError(validation.type) && form.get('captcha').pending">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
            </div> -->
            <div class="text-center m-t-20">
              <button type="button" class="btn btn-warning  btn-block text-uppercase waves-effect waves-light text-white"
                (click)="onLoggedin()"><b>Log In</b></button>
            </div>
            <div class="form-group row">
              <div class="col-md-12 font-14 text-center">
                <a href="javascript:void(0)" id="to-recover" class="text-dark "
                  [routerLink]="['/authentication/forgot-password']">Forgot Password?</a>
              </div>
            </div>
            <div class="form-group ">
              <div class="text-center text-dark font-14">
                <b>Don't Have An Account ? <a style="text-decoration: underline;"
                    [routerLink]="['/authentication/signup']">
                    Signup
                  </a> Here</b></div>
            </div>
          </form>
          <form class="form-horizontal" id="recoverform" action="index.html">
            <div class="form-group ">
              <div class="col-xs-12">
                <h3>Recover Password</h3>
                <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-12">
                <input class="form-control" type="text" required="" placeholder="Email"> </div>
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
                  [routerLink]="['/authentication/login']">Reset</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>