<div class="row">
    <div class="col-md-12 col-12 col-lg-12 col-sm-12">
        <div class="card account-page">
            <div class="card-body">
                <h4 class="mb-5">Profile Details</h4>
                <form [formGroup]="profileForm" (ngSubmit)="onProfileFormSubmit()" id="profileForm">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Profile Photo</label>
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <div class="custom-image-profile"  (click)="imageOpener.click()">
                                            <img  [src]="image" class="img-fluid"/>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="input-group">
                                                <input class="form-control custom-file-input" type="file" multiple  name="uploadJSON" #imageOpener formControlName="profile_photo"
                                                (change)="onFileChange($event)">
                                                <label class="custom-file-label uploadFileName" #labelImport for="uploadJSON">{{uploadFileName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">First Name<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter First Name"
                                        formControlName="first_name" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.first_name">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('first_name').hasError(validation.type) && (profileForm.get('first_name').dirty || profileForm.get('first_name').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Last Name<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Last Name"
                                        formControlName="last_name" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.last_name">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('last_name').hasError(validation.type) && (profileForm.get('last_name').dirty || profileForm.get('last_name').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">E-mail<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter E-mail"
                                        formControlName="email" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.email">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Phone Number<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="number" placeholder="Enter Phone Number"
                                        formControlName="phone_number" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.phone_number">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('phone_number').hasError(validation.type) && (profileForm.get('phone_number').dirty || profileForm.get('phone_number').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Date Of Birth<span class="text-danger"> *</span></label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dob" formControlName="date_of_birth"
                                                #dob="bsDatepicker" bsDatepicker required>
                                        <div class="input-group-append">
                                            <button class="btn custom-calendar-btn no-shadow" (click)="dob.toggle()" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <p *ngFor="let validation of validation_messages.date_of_birth">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('date_of_birth').hasError(validation.type) && (profileForm.get('date_of_birth').dirty || profileForm.get('date_of_birth').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Gender<span class="text-danger"> *</span></label>
                                    <select class="form-control" formControlName="gender_id">
                                        <option [value]="null" hidden>--Select Gender--</option>
                                        <option [value]="gen.value" *ngFor="let gen of GenderList" [selected]="gen.value === profileForm.get('gender_id').value">{{gen.gender}}
                                        </option>
                                    </select>
                                    <p *ngFor="let validation of validation_messages.gender_id">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('gender_id').hasError(validation.type) && (profileForm.get('gender_id').dirty || profileForm.get('gender_id').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Company<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Company Name"
                                    formControlName="company" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.company">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('company').hasError(validation.type) && (profileForm.get('company').dirty || profileForm.get('company').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Position<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Your Position"
                                    formControlName="position" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.position">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('position').hasError(validation.type) && (profileForm.get('position').dirty || profileForm.get('position').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Address 1<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Your Address 1"
                                    formControlName="address_1" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.address_1">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('address_1').hasError(validation.type) && (profileForm.get('address_1').dirty || profileForm.get('address_1').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Address 2<span class="text-danger"> *</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Your Address 2"
                                    formControlName="address_2" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.address_2">
                                        <small class="text-danger"
                                            *ngIf="profileForm.get('address_2').hasError(validation.type) && (profileForm.get('address_2').dirty || profileForm.get('address_2').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">City<span class="text-danger"> *</span></label>
                                <input class="form-control" type="text" placeholder="Enter Your City"
                                formControlName="city" autocomplete="off">
                                <p *ngFor="let validation of validation_messages.city">
                                    <small class="text-danger"
                                        *ngIf="profileForm.get('city').hasError(validation.type) && (profileForm.get('city').dirty || profileForm.get('city').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">State<span class="text-danger"> *</span></label>
                                <input class="form-control" type="text" placeholder="Enter Your State"
                                formControlName="state" autocomplete="off">
                                <p *ngFor="let validation of validation_messages.state">
                                    <small class="text-danger"
                                        *ngIf="profileForm.get('state').hasError(validation.type) && (profileForm.get('state').dirty || profileForm.get('state').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Country<span class="text-danger"> *</span></label>
                                <select class="form-control" formControlName="country">
                                    <option [value]="null" hidden>--Select Country--</option>
                                    <option [value]="country.countryName" *ngFor="let country of CountryList" [selected]="country.countryName === profileForm.get('country').value">{{country.countryName}}
                                    </option>
                                </select>
                                <p *ngFor="let validation of validation_messages.country">
                                    <small class="text-danger"
                                        *ngIf="profileForm.get('country').hasError(validation.type) && (profileForm.get('country').dirty || profileForm.get('country').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Postal Code<span class="text-danger"> *</span></label>
                                <input class="form-control" type="text" placeholder="Enter Your Postal Code"
                                formControlName="postal_code" autocomplete="off">
                                <p *ngFor="let validation of validation_messages.postal_code">
                                    <small class="text-danger"
                                        *ngIf="profileForm.get('postal_code').hasError(validation.type) && (profileForm.get('postal_code').dirty || profileForm.get('postal_code').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 text-left">
                            <button type="submit" class="btn btn-info pl-5 pr-5">Save Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-5">Change Password</h4>
                <form [formGroup]="changePasswordForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-form-label">Current Password<span class="text-danger"> *</span></label>
                                <input class="form-control" type="password" placeholder="Enter Old Password"
                                    formControlName="old_password" autocomplete="off">
                                    <p *ngFor="let validation of validation_messages.old_password">
                                        <small class="text-danger"
                                            *ngIf="changePasswordForm.get('old_password').hasError(validation.type) && (changePasswordForm.get('old_password').dirty || changePasswordForm.get('old_password').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label class="col-form-label">New Password<span class="text-danger"> *</span></label>
                                <input class="form-control" type="password" placeholder="Enter New Password"
                                    formControlName="new_password" autocomplete="off">
                                <p *ngFor="let validation of validation_messages.new_password">
                                    <small class="text-danger"
                                        *ngIf="changePasswordForm.get('new_password').hasError(validation.type) && (changePasswordForm.get('new_password').dirty || changePasswordForm.get('new_password').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 text-left">
                            <button class="btn btn-info pl-5 pr-5" (click)="changePassword()">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>