<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
         
        <form  [formGroup]="filterRulesForm" (ngSubmit)="save()">
            <div class="row">
                <div class="col-md-12 mb-4 mt-2">
                    <h4 class="mb-4">Custom Rules</h4>
                    <div class="row px-5 pt-3">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Filter URLs ?</label>
                                <ui-switch size="small" class="float-right d-flex pt-1 pr-5" formControlName="filter_urls"></ui-switch>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Filter Phone #s ?</label>
                                <ui-switch size="small" class="float-right d-flex pt-1 pr-5" formControlName="filter_phone_numbers"></ui-switch>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Filter Emails ?</label>
                                <ui-switch size="small" class="float-right d-flex pt-1 pr-5" formControlName="filter_emails"></ui-switch>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Deep Search Ban List </label>
                                <ui-switch size="small" class="float-right d-flex pt-1 pr-5" formControlName="deep_search_ban"></ui-switch>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Deep Search Allow List</label>
                                <ui-switch size="small" class="float-right d-flex pt-1 pr-5" formControlName="deep_search_allow"></ui-switch>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <h4 class="mb-4">Languages</h4>
                    <div class="row px-5 pt-3">
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="check1">
                                    <input formControlName="language_english"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check1"/>English
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline" >
                                <label class="form-check-label" for="check2">
                                    <input formControlName="language_french"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check2"/>French
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline" >
                                <label class="form-check-label" for="check3">
                                    <input formControlName="language_spanish"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check3"/>Spanish
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline" >
                                <label class="form-check-label" for="check4">
                                    <input formControlName="language_german"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check4"/>German
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline" >
                                <label class="form-check-label" for="check5">
                                    <input formControlName="language_portugese"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check5"/>Portugese
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline" >
                                <label class="form-check-label" for="check6">
                                    <input formControlName="language_italian"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check6"
                                    />Italian
                                </label>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-2 col-12 m-b-20">
                            <div class="form-check-inline" >
                                <label class="form-check-label" for="check7">
                                <input formControlName="language_indonesian"
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check7"/>Indonesian
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-4 mb-4 text-center">
                        <button class="btn btn-info pl-5 pr-5" type="submit">Save Rules</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  