<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="mb-5">Contact</h6>
                    <form [formGroup]="supportForm">
                        <div class="form-group row" *ngIf="supportForm.get('ticketId').value != null">
                            <label class="col-sm-4 col-form-label">Ticket Id</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" placeholder="Enter Your Subject"
                                    formControlName="ticketId" autocomplete="off">
                                <p *ngFor="let validation of validation_messages.ticketId">
                                    <small class="text-danger"
                                        *ngIf="supportForm.get('ticketId').hasError(validation.type) && (supportForm.get('ticketId').dirty || supportForm.get('ticketId').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Subject</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" placeholder="Enter Your Subject"
                                    formControlName="subject" autocomplete="off">
                                <p *ngFor="let validation of validation_messages.subject">
                                    <small class="text-danger"
                                        *ngIf="supportForm.get('subject').hasError(validation.type) && (supportForm.get('subject').dirty || supportForm.get('subject').touched)">
                                        {{ validation.message }}
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" formControlName="category_id">
                                    <option [value]="null" hidden>--Select Category--</option>
                                    <option [value]="cat.categoryList" *ngFor="let cat of category_lists">{{cat.categoryList}}</option>
                                </select>
                                <p *ngFor="let validation of validation_messages.category_id">
                                        <small class="text-danger"
                                            *ngIf="supportForm.get('category_id').hasError(validation.type) && (supportForm.get('category_id').dirty || supportForm.get('category_id').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" formControlName="description"></textarea>
                                <p *ngFor="let validation of validation_messages.description">
                                        <small class="text-danger"
                                            *ngIf="supportForm.get('description').hasError(validation.type) && (supportForm.get('description').dirty || supportForm.get('description').touched)">
                                            {{ validation.message }}
                                        </small>
                                    </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <button class="btn btn-primary pl-5 pr-5" (click)="send()">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row  mb-2">
                        <div class="col">
                            <div class="float-left">
                                <!-- <h6 class="card-title">Category List</h6> -->
                            </div>
                        </div>
                        <div class="col-sm-8 col-12">
                            <form class="text-right">
                            <div class="form-group row">
                            <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                            </div>
                            <div class="col-md-4 col-sm-6 col-12 mb-3">
                                <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                            </div>
                            <div class="col-md-2 col-sm-3 col-12 mb-3">
                                <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                            </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- table start -->
                    <ngx-datatable #table class='material feedback-list-table ' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='feedbackList'>
    
                        <ngx-datatable-column name="No" sortable="true" prop="ticketId">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.ticketId}}</div>
                            </ng-template>
                        </ngx-datatable-column>
    
                        <ngx-datatable-column name="Category" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.categoryName}}</div>
                            </ng-template>
                        </ngx-datatable-column>
    
                        <ngx-datatable-column name="Subject" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.subject}}</div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Last Updated" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.lastUpdated}}</div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Status" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <span class="badge badge-success badge-pill" *ngIf="row.status == 'solved'"><i class="mdi mdi-checkbox-blank-circle text-success"></i> {{row.status}}</span>
                                <span class="badge badge-danger badge-pill" *ngIf="row.status == 'open'"><i class="mdi mdi-checkbox-blank-circle text-danger"></i> {{row.status}}</span>
                              </ng-template>
                        </ngx-datatable-column>
    
                        <!-- actions -->
                        <ngx-datatable-column name="Action" sortable="false" prop="id">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <div class="btn-group">
                                    <button  class="btn btn-sm btn-warning mr-2"  (click)="viewSupport(viewPopup, row)"><i class="fas fa-eye"></i></button>
                                    <button  class="btn btn-sm m-r-5"  (click)="editSupport(row)"><i class="fas fa-reply"></i></button>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
    
                    </ngx-datatable>
                    <!-- table end -->
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body accordion-faq-section">
                    <h6 class="mb-5">FAQ</h6>
                    <div *ngFor="let faq of faqList; index as i">
                        <ngb-accordion [closeOthers]="true" [activeIds]="activeId"  (panelChange)="toggleAccordian($event)">
                            <ngb-panel  id="faq-panel-{{i}}">
                                <ng-template ngbPanelTitle>
                                    <span>{{faq.title}}</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    {{faq.description}}
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #viewPopup let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-center">Support Details</h4>
    </div>
    <div class="modal-body">
                    <!-- table start -->
                    <ngx-datatable #table2 class='material feedbackmodal-list-table ' [columnMode]="'force'"  [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='rows2'>
    
                        <ngx-datatable-column name="No" sortable="true" prop="ticketId">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.ticketId}}</div>
                            </ng-template>
                        </ngx-datatable-column>
    
                        <ngx-datatable-column name="Category" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.categoryName}}</div>
                            </ng-template>
                        </ngx-datatable-column>
    
                        <ngx-datatable-column name="Subject" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.subject}}</div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Last Updated" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <div>{{row.lastUpdated}}</div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Status" sortable="true">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                                <span class="badge badge-success badge-pill" *ngIf="row.status == 'solved'"><i class="mdi mdi-checkbox-blank-circle text-success"></i> {{row.status}}</span>
                                <span class="badge badge-danger badge-pill" *ngIf="row.status == 'open'"><i class="mdi mdi-checkbox-blank-circle text-danger"></i> {{row.status}}</span>
                              </ng-template>
                        </ngx-datatable-column>
    
    
                    </ngx-datatable>
                    <!-- table end -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary w-md waves-effect waves-light"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>