<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                        <div class="card-body">
        <form [formGroup]="billingForm" (ngSubmit)="onSubmitBillingForm()"  id="billingForm">
                <div class="row">
                    <div class="col-md-3 ">
                        <!-- <label class="mr-2">Status</label> -->
                        <div class="input-group">
                            <select class="form-control" name="id" formControlName="id">
                                <option [value]='1'>Pending</option>
                                <option [value]='2'>Cancelled</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <!-- <label class="mr-2">From Date</label> -->
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="fromDate" formControlName="from_date"
                            bsDatepicker #fromDate="bsDatepicker" bsDatepicker required>
                            <div class="input-group-append">
                                <button class="btn custom-calendar-btn no-shadow" (click)="fromDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <!-- <label class="mr-2">To Date</label> -->
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="toDate" formControlName="to_date"
                            bsDatepicker #toDate="bsDatepicker" required>
                            <div class="input-group-append">
                                <button class="btn custom-calendar-btn no-shadow" (click)="toDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary pl-5 pr-5">Submit</button>
                    </div>
                </div>
            </form>
            </div>
            </div>
        </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-5">Transactions</h4>
                <div style="height:400px" *ngIf="showView && single.length > 0">
                    <ngx-charts-pie-chart
                    [scheme]="colorScheme_pie"
                    [results]="single"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [legendPosition]="legendPosition"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    >
                    </ngx-charts-pie-chart>
                </div>
                <div *ngIf="!showView" class="pt-3 pb-5">
                    <p class="pt-5 pb-5 text-center text-muted">Please Choose <b>From Date</b> to Generate Billing</p>
                </div>
                <div *ngIf="single.length == 0" class="pt-3 pb-5">
                    <p class="pt-5 pb-5 text-center text-muted">No record found</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-5">Subscriptions</h4>
                <div style="height:400px"  *ngIf="showView && multi_line.length > 0">
                    <ngx-charts-line-chart
                    [scheme]="colorScheme_line"
                    [legend]="legend"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [results]="multi_line"
                    >
                    <ng-template #seriesTooltipTemplate let-model="model">
                        <p class="mb-0 mt-1">{{model[0].name}}</p>
                        <h6 class="mb-1 mt-1">{{model[0].value}}</h6>     
                    </ng-template>
                    </ngx-charts-line-chart>
                </div>
                <div *ngIf="!showView" class="pt-3 pb-5">
                    <p class="pt-5 pb-5 text-center text-muted">Please Choose <b>From Date</b> to Generate Billing</p>
                </div>
                <div *ngIf="multi_line.length == 0" class="pt-3 pb-5">
                    <p class="pt-5 pb-5 text-center text-muted">No record found</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body" *ngIf="showView">
                <div class="row">
                    <div class="col">
                        <!-- <div class="float-left">
                            <h6 class="card-title">List Featured Domains</h6>
                        </div> -->
                    </div>
                    <div class="col-sm-8 col-12">
                        <form class="text-right">
                        <div class="form-group row">
                        <div class="col-md-4 offset-md-2 col-sm-3 col-12">
                        </div>
                        <div class="col-md-4 col-sm-6 col-12 mb-3">
                            <input type='text' class="form-control" placeholder='Search...' (keyup)='updateFilter($event)' />
                        </div>
                        <div class="col-md-2 col-sm-3 col-12 mb-3">
                            <input class="form-control" type="number" name="selectpage" min="1" [(ngModel)]="selectPageValue">
                        </div>
                        </div>
                        </form>
                    </div>
                </div>
                
                    <!-- table start -->
                    <ngx-datatable #table class='material billing-list-table ' [columnMode]="'force'" [scrollbarH]="true"  [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [limit]="selectPageValue" [rows]='billingList'>

                    <ngx-datatable-column name="S.No" sortable="true">
                        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template >
                            <div>{{rowIndex + 1}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Client Email" sortable="true" prop="email">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.email}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Account #" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.account}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Amount" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div><span class="text-uppercase">{{row.currency}}</span> {{row.amount}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column name="Date Time" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <div>{{row.date}}</div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Is Paid" sortable="true">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template >
                            <span class="badge badge-success badge-pill" *ngIf="row.paid == 'paid'"><i class="mdi mdi-checkbox-blank-circle text-success"></i> Paid</span>
                            <span class="badge badge-danger badge-pill" *ngIf="row.paid == 'unpaid'"><i class="mdi mdi-checkbox-blank-circle text-danger"></i> Unpaid</span>
                        </ng-template>
                    </ngx-datatable-column>
                    
                    <!-- actions -->
                    <!-- <ngx-datatable-column name="Actions" sortable="false" prop="id">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="btn-group">
                                <button  class="btn btn-sm btn-warning m-r-5"  (click)="viewFile(viewPopup, row)"><i class="fa fa-eye"></i></button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column> -->

                </ngx-datatable>
                <!-- table end -->


            </div>
            <div *ngIf="!showView" class="pt-5 pb-5">
                <p class="pt-5 pb-5 text-center text-muted">Please Choose <b>From Date</b> to Generate Billing</p>
            </div>
        </div>
    </div>
</div>