<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body acrdion">
        <div class="mb-4 card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-2"><h4 class="my-2">Free Trial</h4></div>
              <div class="col-md-2"> <span>(Current)</span></div>
            </div>
          </div>
        </div>
        <accordion [closeOthers]="true" [isAnimated]="true">
          <accordion-group *ngFor="let planlist of planLists; let i = index"  [isOpen]="activPlanIndex === i">

            <div accordion-heading>
              <div class="row">
                <div class="col-md-2"><h4 class="my-2">{{planlist.planName}}</h4></div>
                <div class="col-md-2"> <span>{{planlist.currency}}{{planlist.price}}</span></div>
                <div class="col-md-2"><button class="btn btn-info pl-5 pr-5" (click)="openPayment($event, payment)">Submit</button></div>
              </div>
            </div>
            <div class="row">
              <div *ngFor="let item of planlist.planDescription" class="d-inline col-md-4">{{item}}</div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>


<ng-template #payment let-modal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Payment Info</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form">
            <form [formGroup]="form">
              <div class="form-group">
                <label class="control-label">Name on card</label>
                <input class="form-control" type="text" formControlName="name_on_card" placeholder="Enter Name on card">
                <p *ngFor="let validation of validation_messages.name_on_card">
                  <small class="text-danger"
                    *ngIf="form.get('name_on_card').hasError(validation.type) && (form.get('name_on_card').dirty || form.get('name_on_card').touched)">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
              <div class="form-group">
                <label class="control-label">Card Number</label>
                <input class="form-control" type="number" formControlName="card_number" placeholder="Enter Card Number">
                <p *ngFor="let validation of validation_messages.card_number">
                  <small class="text-danger"
                    *ngIf="form.get('card_number').hasError(validation.type) && (form.get('card_number').dirty || form.get('card_number').touched)">
                    {{ validation.message }}
                  </small>
                </p>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">MM</label>
                    <input class="form-control" type="number" formControlName="month" placeholder="MM">
                    <p *ngFor="let validation of validation_messages.month">
                      <small class="text-danger"
                        *ngIf="form.get('month').hasError(validation.type) && (form.get('month').dirty || form.get('month').touched)">
                        {{ validation.message }}
                      </small>
                    </p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="control-label">YY</label>
                    <input class="form-control" type="number" formControlName="year" placeholder="YY">
                    <p *ngFor="let validation of validation_messages.year">
                      <small class="text-danger"
                        *ngIf="form.get('year').hasError(validation.type) && (form.get('year').dirty || form.get('year').touched)">
                        {{ validation.message }}
                      </small>
                    </p>
                  </div>

                </div>
                <div class="col-md-6">
                  <div>
                    <label class="control-label">cvc</label>
                    <input class="form-control" type="number" formControlName="cvc" placeholder="4567">
                    <p *ngFor="let validation of validation_messages.cvc">
                      <small class="text-danger"
                        *ngIf="form.get('cvc').hasError(validation.type) && (form.get('cvc').dirty || form.get('cvc').touched)">
                        {{ validation.message }}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-info btn-block" (click)="pay()">Pay</button>
          </div>
        </div>
      </div>
    </div>
</ng-template>